<!--<nav class= "navbar navbar-default navbar-bottom">
  <footer class="footer">
    <div class="container">
      <div class="footer-left">
        <div class="footer-nav">
          <%= link_to image_tag("firstlogosmall.png", size: "40x40"), root_path, class: "navbar-brand" %>
        </div>
        <%= link_to "faskyn | Fastest way to ask and get things done.", root_path %>
      </div>
      
      <nav>
        <ul>
          <li><%= link_to "Contact", new_contact_path %></li>
          <li><%= link_to "About", static_pages_about_path %></li>
          <li><%= link_to "Help", static_pages_help_path %></li>
          <li><%= link_to "Privacy Policy", static_pages_privacypolicy_path %></li>
        </ul>
      </nav>
    </div>
  </footer>
</nav>-->

<nav class= "navbar navbar-static-bottom navbar-default">
  <footer class="footer">
    <div class="container">
      <div class="navbar-header">
        <%= link_to image_tag("firstlogosmall.png", size: "40x40"), root_path, class: "navbar-brand" %>
        <%= link_to "faskyn | Fastest way to ask and get things done.", root_path %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Contact", new_contact_path %></li>
        <li><%= link_to "About", static_pages_about_path %></li>
        <li><%= link_to "Help", static_pages_help_path %></li>
        <li><%= link_to "Privacy Policy", static_pages_privacypolicy_path %></li>
      </ul>
    </div>
  </footer>
</nav>


