<div id="home_loggedout">
  <div class= "jumbotron">
    <div class= "container">
      <%= render "layouts/flash_messages" %>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class= "hero-title">
            <h1>Grow Your Startup With Our Community</h1>
          </div>
          <div class= "hero-description">
            <h3>Join our community of startup founders, entrepreneurs and members who’ve helped build great companies.</h3>
          </div>
          <div class = "hero-button">
            <p><%= link_to "GET STARTED", new_user_registration_path , class: "btn btn-success btn-lg", style: "margin-right:20px"%><%= link_to "LOG IN", new_user_session_path, class: "btn btn-primary btn-lg" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class = "details">
  <div class= "container">
    <div class = "row">
      <div class = "col-md-4">
        <div class="col-padding">
          <i class="fa fa-rocket fa-2x"></i> 
          <h4>STARTUPS</h4>
          <p>Startups can explain what makes their product unique and why customers should use it</p>
        </div>
      </div>
      <div class = "col-md-4">
        <div class="col-padding">
          <i class="fa fa-users fa-2x"></i>
          <h4>CUSTOMERS</h4>
          <p>Customers can post a request for a specific problem they want solution for and startups can send offers to solve it</p>
        </div>
      </div>
      <div class = "col-md-4">
        <div class="col-padding">
          <i class="fa fa-usd fa-2x"></i>
          <h4>INVESTORS</h4>
          <p>Investors can share their investment criteria thus being connected by startups that fulfill specific requirements for location, stage or market</p>
        </div>    
      </div>
    </div>
  </div>
</div>

<!-- <div class = "details">
  <div class= "container">
    <div class= "row">
      <div class= "col-md-6">
        <div class = "well static-pages-well">
          <div class = "row">
            <div class = "col-md-2 sign">
              <i class="fa fa-rocket fa-2x"></i>
            </div>
            <div class ="col-md-10 description">
              <h4>STARTUPS</h4>
              <p>Startups can explain what makes their product unique and why customers should use it.</p>
            </div>
          </div>
        </div>
      </div>
      <div class = "col-md-6">
        <div class = "well static-pages-well">
          <div class = "row">
            <div class = "col-md-2 sign">
              <i class="fa fa-users fa-2x"></i>
            </div>
            <div class ="col-md-10 description">
              <h4>CUSTOMERS</h4>
              <p>Customers can post a request for a specific problem they want solution for and startups can send offers to solve it.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class= "row">
      <div class= "col-md-6">
        <div class = "well static-pages-well">
          <div class = "row">
            <div class = "col-md-2 sign">
              <i class="fa fa-usd fa-2x"></i>
            </div>
            <div class ="col-md-10 description">
              <h4>INVESTORS</h4>
              <p>Investors can share their investment criteria thus being connected by startups that suit location, stage or market.</p>
            </div>
          </div>
        </div>
      </div>
      <div class = "col-md-6">
        <div class = "well static-pages-well">
          <div class = "row">
            <div class = "col-md-2 sign">
              <i class="fa fa-industry fa-2x"></i>
            </div>
            <div class ="col-md-10 description">
              <h4>CORPORATES</h4>
              <p>Corporates can find the right startups to invest or buy from in different verticals and markets.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



<div class="examples">
  <div class= "container">
    <div class="row">
      <div class="col-md-4">
        <div class="col-padding">
          <p>"The secret to success is to have a great product. This is the only thing all great companies have in common. A great product is the only way to grow long-term."</p>
          <p>- Sam Altman, President Y Combinator</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-padding">
          <p>“The product that wins is the one that bridges customers to the future, not the one that requires a giant leap.”</p>
          <p>- Aaron Levie, CEO Box</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-padding">
          <p>"The three core elements of each startup are team, product and market. The only thing that matters is getting to product/market fit. Being in a good market with a product that can satisfy the market."</p>
          <p>- Marc Andreessen, GP a16z</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="get-started">
  <div class="container">
    <h4>Get in touch with the right startups
    <span><div class = "hero-button">
      <%= link_to "GET STARTED", new_user_registration_path , class: "btn btn-success btn-lg" %>
    </div></span>
    </h4>
  </div>
</div>
<%= render 'footer' %>


