<li class="<%= self_or_other(message) %>">
  <div class="chatboxmessagecontent">
    <p>
    <% if message.body? %>
      <%= find_links(message.body) %>
    <% else %>
      <%= link_to "#{message.message_attachment_filename}", attachment_url(message, :message_attachment),:target => "_blank" %>
    <% end %>
    </p>
    <time class="timefield" datetime="<%= message.created_at %>" title="<%= message.created_at.utc.getlocal.strftime("%d %b  %Y at %I:%M%p" ) %>">
      <% if message.created_at.today? %>
        <%= message_interlocutor(message).profile.first_name %> • <%= local_time(message.created_at, "%H:%M %p") %>
      <% else %>
        <%= message_interlocutor(message).profile.first_name %> • <%= local_time(message.created_at, "%d %b %H:%M %p") %>
      <% end %>
    </time>
  </div>
</li> 
