<% cache ['messages-index-single', message, message.conversation.sender_profile, message.conversation.recipient_profile, current_user] do %>
  <li class="<%= self_or_other(message) %>">
    <div class="chatboxmessagecontent">
      <p>
        <% if message.body? %>
          <%= find_links(h message.body) %>
        <% else %>
          <%= link_to "#{message.message_attachment_filename}", attachment_url(message, :message_attachment), target: "_blank" %>
        <% end %>
      </p>
      <span class="chat-name" data-behavior="chat-name">
        <%= message_interlocutor(message).first_name %>
      </span>
      <time class="chat-time" data-behavior="chat-time" data-datetime="<%= message.created_at %>" title="<%= message.created_at.utc.strftime("%d %b  %Y at %I:%M%p" ) %>">
        • <%= time_display(message.created_at) %>
      </time>
    </div>
  </li> 
<% end %>
