<li class="<%= self_or_other(message) %>">
  <div class="chatboxmessagecontent">
    <p>
    <% if message.body? %>
      <%= find_links(message.body) %>
    <% else %>
      <%= link_to "#{message.message_attachment_filename}", attachment_url(message, :message_attachment),:target => "_blank" %>
    <% end %>
    </p>
    <span id="chatname">
      <%= message_interlocutor(message).profile.first_name %>
    </span>
    <time class="timefield" datetime="<%= message.created_at %>" title="<%= message.created_at.utc.strftime("%d %b  %Y at %I:%M%p" ) %>">
      <% if local_time(message.created_at) > (Time.zone.now - 24.hours) %>
         • <%= local_time(message.created_at, "%I:%M %p") %>
      <% else %>
         • <%= local_time(message.created_at, "%d %b %I:%M %p") %>
      <% end %>
    </time>
  </div>
</li> 
