<li class="<%= self_or_other(message) %>">
  <div class="chatboxmessagecontent">
    <p>
    <% if message.body? %>
      <%= message.body %>
    <% else %>
      <%= link_to "#{message.message_attachment_filename}", attachment_url(message, :message_attachment),:target => "_blank" %>
    <% end %>
    </p>
    <time datetime="<%= message.created_at %>" title="<%= message.created_at.strftime("%d %b  %Y at %I:%M%p" ) %>">
      <%= message_interlocutor(message).profile.first_name %> • <%= message.created_at.strftime("%H:%M %p") %>
    </time>
  </div>
</li> 
