<%= form_for @profile, url: user_profile_path, html: { multipart: true } do |f| %>
  <%= render 'layouts/error_messages', object: f.object %>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :first_name, "First name *" %>
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :last_name, "Last name *" %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :avatar %>
      <%= image_tag(@profile.avatar_url(:base_thumb), style:"border-radius:50%;width:60px;height:60px;margin-bottom: 10px;margin-left:10px;") if @profile.avatar? %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
    </div>
    <div class="form-group">
      <%= f.label :company, "Company *" %>
      <%= f.text_field :company, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.button "Save profile", class: 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."} %>
      <%= link_to 'Cancel', :back, class: 'btn btn-default' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :job_title, "Job title *" %>
      <%= f.text_field :job_title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :location, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>
<%end%>
