<% provide(:title, 'Edit profile') %>
<div class="container-fluid container-form">
  <div class= "col-md-8 col-md-offset-2">
    <div class="well profile-well"> 
      <div class="row">
        <h2 class="text-center">Edit your profile</h2>
      </div>
      <div class="row cta-social-media">
        <div class="col-md-12">
          <p><strong>Attach social media to your profile for better discovering</strong></p>
        </div>
      </div>
      <div class="row social-media">
        <div class="col-md-4">
          <% if @twitter.blank? %>
            <%= link_to "/auth/twitter", class: "btn btn-social-reg btn-twitter" do %>
              <i class="fa fa-twitter"> Twitter</i>
            <% end %>
          <% else %>
            <%= link_to "/auth/twitter", class: "btn btn-social-reg btn-twitter linked" do %>
              <i class="fa fa-twitter"> Twitter (linked)</i>
            <% end %>
          <% end %>
        </div>
        <div class="col-md-4">
        <% if @linkedin.blank? %>
          <%= link_to "/auth/linkedin", class: "btn btn-social-reg btn-linkedin" do %>
            <i class="fa fa-linkedin"> LinkedIn</i>
          <% end %>
        <% else %>
          <%= link_to "/auth/linkedin", class: "btn btn-social-reg btn-linkedin linked" do %>
            <i class="fa fa-linkedin"> LinkedIn (linked)</i>
          <% end %>
        <% end %>
        </div>
        <div class="col-md-4">
          <% if @angellist.blank? %>
            <%= link_to "/auth/angellist", class: "btn btn-social-reg btn-angellist" do %>
              <i class="fa fa-angellist"> AngelList</i>
            <% end %>
          <% else %>
            <%= link_to "/auth/angellist", class: "btn btn-social-reg btn-angellist linked" do %>
              <i class="fa fa-angellist"> AngelList (linked)</i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>