<% provide(:title, 'Edit profile') %>
<div class="container-fluid container-form">
  <div class= "col-md-8 col-md-offset-2">
    <div class="well profile-well"> 
      <div class="row">
        <h3 class="text-center">EDIT YOUR PROFILE</h3>
      </div>
      <div class="row cta-social-media">
        <div class="col-md-12">
          <p><strong>Connect your google account to sync your faskyn calendar with your google calendar:</strong></p>
        </div>
      </div>
       <div class="row social-media">
        <div class="col-md-12">
          <% if @google.blank? %>
            <%= link_to "/auth/google_oauth2", class: "btn btn-social-reg btn-google" do %>
              <i class="fa fa-google"> Google calendar</i>
            <% end %>
          <% else %>
            <%= link_to "/auth/google_oauth2", class: "btn btn-social-reg btn-google linked" do %>
              <i class="fa fa-google"> Google calendar (linked)</i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row cta-social-media">
        <div class="col-md-12">
          <p><strong>Connect social media accounts to your profile for better discovering:</strong></p>
        </div>
      </div>
      <div class="row social-media">
        <div class="col-md-6">
          <% if @twitter.blank? %>
            <%= link_to "/auth/twitter", class: "btn btn-social-reg btn-twitter" do %>
              <i class="fa fa-twitter"> Twitter</i>
            <% end %>
          <% else %>
            <%= link_to "/auth/twitter", class: "btn btn-social-reg btn-twitter linked" do %>
              <i class="fa fa-twitter"> Twitter (linked)</i>
            <% end %>
          <% end %>
        </div>
        <div class="col-md-6">
        <% if @linkedin.blank? %>
          <%= link_to "/auth/linkedin", class: "btn btn-social-reg btn-linkedin" do %>
            <i class="fa fa-linkedin"> LinkedIn</i>
          <% end %>
        <% else %>
          <%= link_to "/auth/linkedin", class: "btn btn-social-reg btn-linkedin linked" do %>
            <i class="fa fa-linkedin"> LinkedIn (linked)</i>
          <% end %>
        <% end %>
        </div>
      </div>
      <div class="row">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>