<% provide(:title, @profile.full_name) %>
<div class="container-fluid container-form">
  <div class="user-profile-show">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @profile.first_name %> <%= @profile.last_name %></h3>
      </div>
      <div class="panel-body">
        <% if @profile.avatar %>
          <%= image_tag @user.profile.avatar.url(:base_thumb), class: "avatar" %>
        <% end %>
        <p><%= @profile.company %></p>
        <p><%= @profile.job_title %></p>
        <p><%= @profile.phone_number %></p>
        <% unless @twitter.blank? %>
          <%= link_to @twitter.page_url, target: "_blank", class: "btn btn-social-icon btn-sm btn-twitter" do %>
            <i class="fa fa-twitter"></i>
          <% end %>
        <% end %>
        <% unless @linkedin.blank? %>
          <%= link_to @linkedin.page_url, target: "_blank", class: "btn btn-social-icon btn-sm btn-linkedin" do %>
            <i class="fa fa-linkedin"></i>
          <% end %>
        <% end %>
      </div>
      <div class="panel-footer">
        <p><%= @profile.description %></p>
      </div>
    </div>
  </div>
  <% if @user.id != current_user.id %>
    <% if Task.between(current_user, @user).present? %>
      Check out the common tasks <%= link_to "here", user_path(@user) %>.
    <% else %>
      Assign a new task to <%= @profile.first_name %> <%= link_to "here", user_tasks_path(current_user) %>.
    <% end %>
  <% else %>
    You can edit your profile <%= link_to "here", edit_user_profile_path(current_user) %>
  <% end %>
</div>