<div class="container-fluid common-medias-container">
  <div class = "col-md-9">
    <div class= "container-fluid task-container">
      <div class="row title-row">
        <h3>Medias with <%= link_to user_profile_path(@user) do %><%= @user.first_name %><% end %></h3>
        <span class="rightfloat">
          <%= link_to "Common Tasks", user_path(@user), class: "btn btn-default" %>
        </span>
      </div>
      <div>
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation"><a href="#filestab" aria-controls="filestab" role="tab" data-toggle="tab" data-link = "<%= get_files_user_common_medias_path(@user)%>" data-activetab="file">Files</a></li>
          <li role="presentation"><a href="#linkstab" aria-controls="linkstab" role="tab" data-toggle="tab" data-link = "<%= get_links_user_common_medias_path(@user)%>" data-activetab="link">Links</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane" id="filestab">
          </div>
          <div role="tabpanel" class="tab-pane" id="linkstab">    
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class = "col-md-3 rightsidebar">
    <%= render 'layouts/rightsidebar' %>
  </div>
</div>











