<div class="container-fluid" style="padding-right:0px;padding-left:0px">
  <div class = "col-md-9" style="padding-left:20px;padding-right:20px">
    <div class= "container-fluid task-container">
      <div class="row task-header">
        <h3>Common medias with <%= link_to user_profile_path(@user) do %><%= @user.profile.first_name %><% end %></h3>
        <span class="rightfloat">
          <div class="btn-group" role="group">
            <%= link_to "Common Tasks", user_path(@user), class: "btn btn-default" %>
            <%= link_to "Calendar", user_events_path(@user), class: "btn btn-default" %>
          </div>
        </span>
      </div>
      <div>
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation"><a href="#filestab" aria-controls="filestab" role="tab" data-toggle="tab" data-link = "<%= get_files_user_common_medias_path(@user)%>" data-activetab="file">Files</a></li>
          <li role="presentation"><a href="#linkstab" aria-controls="linkstab" role="tab" data-toggle="tab" data-link = "<%= get_links_user_common_medias_path(@user)%>" data-activetab="link">Links</a></li>
          <li role="presentation"><a href="#calendarstab" aria-controls="calendarstab" role="tab" data-toggle="tab" data-activetab="calendar">Calendar</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane" id="filestab">
          </div>
          <div role="tabpanel" class="tab-pane" id="linkstab">    
          </div>
          <div role="tabpanel" class="tab-pane" id="calendarstab">
            <br/>
            Checkout <%= @user.profile.first_name %>'s calendar <%= link_to "here", user_events_path(@user) %>.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class = "col-md-3 rightsidebar">
    <%= render 'layouts/rightsidebar' %>
  </div>
</div>











