<div class= "container-fluid task-container">
  <div class="row task-header">
    <h3>Tasks with <%= @user.profile.first_name %></h3>
    <span class="rightfloat">
      <%= link_to "NEW TASK", new_user_task_path(current_user), type: "button", class: "btn btn-primary newbutton", remote: true, 'data-toggle' => 'modal', 'data-target' => '#newtask' %>
      <div class="btn-group" role="group">
        <%= link_to "Common Medias", common_medias_user_common_medias_path(@user), class: "btn btn-default", id: "rightone"%>
        <%= link_to "Calendar", user_events_path(@user), class: "btn btn-default" %>
      </div>
    </span>
  </div>
  <div class="panel panel-default" style="margin:0px;">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="col-md-7">Content</th>
          <th class="col-md-3">Deadline</th>
          <th class="col-md-2">Comp/Edit/Del</th>
        </tr>
      </thead>
      <tbody class="newtaskinsert2">
        <%= render partial: "tasks/task_between", collection: @tasks, as: :task %>
      </tbody>
    </table>
  </div>
  <div id="infinite-task-scrolling" style="text-align:center;display:none">
    <%= will_paginate @tasks %>
  </div>
  <div class="no-more" style="display:none;padding-left:20px;">
    <p>No more tasks.</p>
  </div>
</div>