<div class= "task-container">
  <div class="row task-header">
  <h2>Common Tasks with <%= link_to user_profile_path(@user) do %><%= @user.profile.first_name %> <%= @user.profile.last_name %><% end %><%= link_to "New Task", new_user_task_path(current_user), type: "button", class: "btn btn-primary", remote: true, 'data-toggle' => 'modal', 'data-target' => '#newtask' %></h2>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-6">Content</th>
        <th class="col-md-3">Deadline</th>
        <th class="col-md-3">Comp. / Edit / Del.</th>
      </tr>
    </thead>
    <tbody class="newtaskinsert2">
      <%= render partial: "tasks/task_between", collection: @tasks, as: :task %>
    </tbody>
  </table>
  <%= will_paginate @tasks %>
</div>