<div class= "container-fluid between-task-container">
  <div class="row title-row">
    <div class="col-md-6 title-col">
      <h3><i class="fa fa-tasks"></i><span class="space">Common Tasks</span></h3>
    </div>
    <div class="col-md-6 title-col">
      <span class="rightfloat">
        <a href="#" type="button" class="btn btn-sm btn-primary newbutton" data-toggle="modal" data-target="#new-task">NEW TASK</a>
        <%= link_to "Common Medias", common_medias_user_common_medias_path(@user), class: "btn btn-sm btn-default", id: "rightone"%>
      </span>
    </div>
  </div>
  <div class="panel panel-default">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="col-md-8">Content</th>
          <th class="col-md-3">Sent at</th>
          <th class="col-md-1"></th>
        </tr>
      </thead>
      <tbody data-behavior="task-insert-between">
        <% cache(['between-tasks', @tasks.map(&:id), @tasks.map(&:updated_at).max, @tasks.map{|task| task.assigner.profile.updated_at}.max, @tasks.map{|task| task.executor.profile.updated_at}.max]) do %>
          <%= render partial: "tasks/task_between", collection: @tasks, as: :task %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="infinite-task-scrolling">
    <%= will_paginate @tasks %>
  </div>
  <div class="no-more">
    <p>No more tasks.</p>
  </div>
</div>

<%= render 'tasks/edit_task_modal' %>
<%= render 'tasks/delete_task_modal' %>