<%= form_for ([@user, @task]), html: {class: "new-html-task-form"} do |f| %>
  <%= render 'layouts/error_messages', object: f.object %>
  <div class="field form-group">
    <%= f.label :Name_or_Company %>
    <%= f.text_field :task_name_company, class: "form-control task_name_company", value: "" %>
  </div>
  <div class="field form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :deadline %>
    <%= f.text_field :deadline, class: "form-control new-task-deadline" %>
  </div>
  <div class="actions">
    <%= f.button "Save task", class: 'btn btn-primary new-html-task-submit', "data-sid" => current_user.id, "data-rip" => :executor_id, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."} %>
  </div>
<% end %>