<% cache(['index-single-common-task', task, task.assigner_profile, task.executor_profile]) do %>

  <tr id="task_<%= task.id %>">
    <td class="col-md-8 name-cell">
      <div class="row name-row">
        <div class="col-md-2 sign-column">
          <% if current_user.id == task.assigner.id %>
            <i class="fa fa-sign-out fa-color"></i>
          <% else %>
             <i class="fa fa-sign-in"></i>
           <% end %>
        </div>
        <div class="col-md-10">
          <%= task.content %>
        </div>
    </td>
    <td class="col-md-3">
      <%= local_time(task.deadline, "%d %b %I%p") %>
    </td>
    <td class="col-md-1">
      <div class="dropdown">
        <a data-target="task-change-<%= task.id %>" id="task-change-<%= task.id %>" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-ellipsis-v fa-lg fa-styling"></i>
        </a>
        <ul class = "dropdown-menu dropdown-menu-right" aria-labelledby="task-change-<%= task.id %>">
          <li>
          <% if task.completed_at == nil %>
            <%= link_to "Complete Task", complete_user_task_path(current_user, id: task.id), action: :complete, remote: true, method: :patch %>
          <% else %>
            <%= link_to "Uncomplete Task", uncomplete_user_task_path(current_user, id: task.id), action: :uncomplete, remote: true, method: :patch %>
          <% end %>
          </li>
          <li>
            <%= link_to "Edit Task", edit_user_task_path(current_user, id: task.id), remote: true, type: "button", 'data-toggle' => "modal", 'data-target' => "#update-task-modal", 'data-task-edit-link' => "#{edit_user_task_path(current_user, id: task.id)}", data: { behavior: "open-edit-task-modal" } %>
          </li>
          <li>
            <a href="#" data-toggle="modal" role="button" data-target="#delete-task-modal" data-behavior="open-delete-task-modal" data-task-delete-link="<%= user_task_path(current_user, task) %>">Delete Task</a>
          </li>
        </ul>
      </div>
    </td>
  </tr>

<% end %>



