<% if current_user.id == task.assigner.id %>
  <tr style="background: #F2F2F2" id="task_<%= task.id %>">
    <td class="col-md-2">
      <%= link_to user_path(id: task.executor.id) do %>
        <div class="table-user-name">
          <%= task.executor.first_name %> <%= task.executor.profile.last_name%>
        </div>
        <div class="table-company-name">
          <%= task.executor.profile.company %>
        </div>
      <% end %>
    </td>
<% else %>
  <tr id="task_<%= task.id %>">
    <td class = "col-md-2">
      <%= link_to user_path(id: task.assigner.id) do %>
        <div class="table-user-name">
          <%= task.assigner.profile.first_name %> <%= task.assigner.profile.last_name%>
        </div>
        <div class="table-company-name">
          <%= task.assigner.profile.company %>
        </div>
      <% end %>
    </td>
<% end %>
    <td class="cold-md-7">
      <%= task.content %>
    </td>
    <td class="col-md-2">
      <% if task.completed? %>
        <%= task.completed_at.utc.getlocal.strftime("%d %b %I%p") %>
      <% else %>
        <% unless task.deadline == nil %>
         <%= task.deadline.utc.getlocal.strftime("%d %b %I%p") %>
        <% end %>
      <% end %>
    </td>
    <td class="col-md-1" style="padding:0px">
    <% if current_user.id == task.assigner.id %>
      <table class="table table-bordered inside-table" style="background:#F2F2F2">
    <% else %>
      <table class="table table-bordered inside-table">
    <% end %>
        <tr>
          <td class="col-md-4" style="border-top:0px;border-bottom:0px;border-left:0px;border-right:0px;">
            <% if task.completed_at == nil %>
              <%= link_to complete_user_task_path(id: task.id), action: :complete, remote: true, method: :patch do %>
                <i class="fa fa-check"></i>
              <% end %>
            <% else %>
              <%= link_to uncomplete_user_task_path(id: task.id), action: :uncomplete, remote: true, method: :patch do %>
                <i class="fa fa-recycle"></i>
              <% end %>
            <% end %>
          </td>
          <td class="col-md-4" style="border-top:0px;border-bottom:0px;border-left:0px;border-right:0px">
            <%= link_to edit_user_task_path(id: task.id), remote: true, type: "button" do %>
              <i class="fa fa-pencil" data-toggle="modal" data-target="#updatetask_<%= task.id %>"></i>
            <% end %>
            <!--Modal for updating task -->
            <%= form_for([@user, task], method: :patch, remote: true) do |f| %>
              <div class="modal fade updatetask" id="updatetask_<%= task.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content" style="text-align:left">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Edit Task</h4>
                    </div>
                    <div class="modal-body">
                      <div class="alert alert-danger" style="display:none">
                        <ul class="errors" style="display:none">
                          <%= render 'layouts/error_messages', object: f.object %>
                        </ul>
                      </div>
                      <div class="field form-group">
                        <% if current_user.id == task.assigner.id %>
                          <p><strong>Executor: <%= task.executor.profile.first_name %> <%= task.executor.profile.last_name %>, <%= task.executor.profile.company %></strong></p>
                        <% else %>
                          <p><strong>Assigner: <%= task.assigner.profile.first_name %> <%= task.assigner.profile.last_name %>, <%= task.assigner.profile.company %></strong></p>
                        <% end %>
                      </div>
                      <div class="field form-group">
                        <%= f.label :content %>
                        <%= f.text_area :content, class: "form-control" %>
                      </div>
                      <div class="field form-group">
                        <%= f.label :deadline %>
                        <%= f.datetime_select :deadline, ampm: true, :start_year => Date.current.year, :order => [:day, :month, :year], :discard_minute => true, class: "form-control task_deadline" %>
                      </div>    
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal" id="updatetaskclose">Close</button>
                        <%= f.submit "Update Task", class: 'btn btn-primary', "data-sid" => current_user.id, "data-rip" => :executor_id %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <!--Modal end for update task --> 
          </td>
          <td class="col-md-4" style="border-top:0px;border-bottom:0px;border-right:0px;border-left:0px">
            <%= link_to user_task_path(id: task.id), remote: true , type: "button" do %>
              <i class="fa fa-trash" data-toggle="modal" data-target="#deletetask_<%= task.id %>"></i>
            <% end %>
            <!--Modal for delete task -->
            <%= form_for([@user, task], method: :delete, remote: true) do |f| %>
              <div class="modal fade" id="deletetask_<%= task.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content" style="text-align:left">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Delete Task</h4>
                    </div>
                    <div class="modal-body">
                      <h4>Are you sure?</h4>
                      <p> </p>  
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal" id="deletetaskclose">Close</button>
                        <%= f.submit "Delete Task", class: 'btn btn-danger' %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <!--Modal end for delete task -->
          </td>
        </tr>
      </table>
    </td>  
  </tr>
