<% provide(:title, 'Completed tasks') %>
<div class= "container-fluid task-container">
  <div class="row task-header">
    <h3>Completed tasks</h3>
      <span class="rightfloat">
        <div class="btn-group" role="group" aria-label="...">
          <%= link_to "Outgoing Tasks", outgoing_tasks_user_tasks_path(current_user), class: "btn btn-default" %>
          <%= link_to "Incoming Tasks", incoming_tasks_user_tasks_path(current_user), class: "btn btn-default" %>
        </div>
      </span>
    </h3>  
  </div>
  <div class="panel panel-default">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="col-md-2">Name / Company</th>
          <th class="col-md-7"><%= sort_link(@q_completed_tasks, :content, 'Content') %></th>
          <th class="col-md-2"><%= sort_link(@q_completed_tasks, :completed_at, 'Completed at', default_order: :desc) %></th>
          <th class="col-md-1">UC/E/D</th>
        </tr>
      </thead>
      <tbody class="newtaskinsert">
        <%= render @tasks || "There are no completed tasks at the moment." %>
      </tbody>
    </table>
  </div>
  <%= will_paginate @tasks %>
</div>
