<% provide(:title, 'Completed tasks') %>
<div class= "container-fluid task-container">
  <div class="row title-row">
    <div class="col-md-6 title-col">
      <h3><i class="fa fa-tasks"></i><span class="space">Completed Tasks</span></h3>
    </div>
    <div class="col-md-6 title-col">
      <span class="rightfloat">
        <div class="btn-group" role="group" aria-label="...">
          <%= link_to "Incoming Tasks", incoming_tasks_user_tasks_path(current_user), class: "btn btn-sm btn-default" %>
          <%= link_to "Outgoing Tasks", outgoing_tasks_user_tasks_path(current_user), class: "btn btn-sm btn-default" %>
          <%= link_to "All Tasks", user_tasks_path(current_user), class: "btn btn-sm btn-default" %>
        </div>
      </span>
    </div>
  </div>
  <div class="panel panel-default">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="col-md-2">Name / Company</th>
          <th class="col-md-7">Content</th>
          <th class="col-md-2">Completed at</th>
          <th class="col-md-1"></th>
        </tr>
      </thead>
      <tbody data-behavior="task-insert">
        <% cache ['completed-tasks', @tasks.map(&:id), @tasks.map(&:updated_at).max, @tasks.map{|task| task.assigner.profile.updated_at}.max, @tasks.map{|task| task.executor.profile.updated_at}.max] do %>
          <%= render @tasks || "There are no completed tasks at the moment." %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="infinite-task-scrolling">
    <%= will_paginate @tasks %>
  </div>
  <div class="no-more">
    <p>No more tasks.</p>
  </div> 
</div>

<%= render 'edit_task_modal' %>
<%= render 'delete_task_modal' %>
