<div class= "container task-container">
  <div class="row task-header">
    <h2>Completed Tasks<%= link_to "Outgoing Tasks", outgoing_tasks_user_tasks_path(current_user), class: "btn btn-primary" %> <%= link_to "Incoming Tasks", incoming_tasks_user_tasks_path(current_user), class: "btn btn-primary" %> <%= link_to "New Task", new_user_task_path(current_user), class: "btn btn-primary" %></h2>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-3">Name / Company</th>
        <th class="col-md-4">Content</th>
        <th class="col-md-3">Completed at</th>
        <th class="col-md-2">Uncom. / Edit / Del</th>
      </tr>
    </thead>
    <tbody class="newtaskinsert">
      <%= render @tasks %>
    </tbody>
  </table>
  <%= will_paginate @tasks %>
</div>
