<div class= "container-fluid task-container">
  <div class="row task-header">
    <h3>Completed tasks</h3>
      <span class="rightfloat">
        <div class="btn-group" role="group" aria-label="...">
          <%= link_to "Outgoing Tasks", outgoing_tasks_user_tasks_path(current_user), class: "btn btn-default" %>
          <%= link_to "Incoming Tasks", incoming_tasks_user_tasks_path(current_user), class: "btn btn-default" %>
        </div>
      </span>
    </h3>  
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-3">Name / Company</th>
        <th class="col-md-4"><%= sort_link(@q_completed_tasks, :content, 'Content') %></th>
        <th class="col-md-3"><%= sort_link(@q_completed_tasks, :completed_at, 'Completed at', default_order: :desc) %></th>
        <th class="col-md-2">Uncom. / Edit / Del</th>
      </tr>
    </thead>
    <tbody class="newtaskinsert">
      <%= render @tasks %>
    </tbody>
  </table>
  <%= will_paginate @tasks %>
</div>
