<div class= "container task-container">
  <div class="row task-header">
    <h2>Completed Tasks<%= link_to "Outgoing Tasks", outgoing_tasks_user_tasks_path(current_user), class: "btn btn-primary" %> <%= link_to "Incoming Tasks", incoming_tasks_user_tasks_path(current_user), class: "btn btn-primary" %> <%= link_to "New Task", new_user_task_path(current_user), class: "btn btn-primary" %></h2>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-3">Name /Company name</th>
        <th class="col-md-4">Content</th>
        <th class="col-md-3">Completed_at</th>
        <th class="col-md-1">Uncomp.</th>
        <th class="col-md-1">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>     
        <% if task.assigner_id == current_user.id %>
          <tr style="background: #eaeaea">
            <td class="col-md-3">
              <%= link_to user_path(id: task.executor.id) do %>
                <%= task.executor.profile.first_name %> <%= task.executor.profile.last_name%> / <%= task.executor.profile.company %>
              <% end %>
            </td>
        <% else %>
          <tr>
            <td class="col-md-3">
              <%= link_to user_path(id: task.assigner.id) do %>
                <%= task.assigner.profile.first_name %> <%= task.assigner.profile.last_name%> / <%= task.assigner.profile.company %>
              <% end %>
            </td>
        <% end %>
          <td class="col-md-4">
            <%= link_to user_task_path(id: task.id) do %>
              <%= task.content %>
            <% end %>
          </td>
          <td class="col-md-3">
            <%= task.completed_at %>
          </td>
          <td class="col-md-1">
            <%= link_to uncomplete_user_task_path(id: task.id), method: :patch do %>
              <i class="fa fa-check"></i>
            <% end %>
          </td>
          <td class="col-md-1">
            <%= link_to user_task_path(id: task.id), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @tasks %>
</div>
