<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well">
        <%= form_for ([@user, @task]) do |f| %>
          <div class="field form-group">
            <%= f.label :executor_id %>
            <%= f.collection_select(:executor_id, User.all, :id, :email) %>
          </div>
          <div class="field form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="field form-group">
            <%= f.label :content %>
            <%= f.text_area :content, class: "form-control" %>
          </div>
          <div class="field form-group">
            <%= f.label :deadline %>
            <%= f.date_select :deadline, class: "form-control" %>
          </div>
          <div class="actions">
            <%= f.submit "Update Task", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>