<% provide(:title, 'Edit task') %>
<div class="container container-form">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well task-well">
        <h2>Edit Task</h2>
        <br />
        <%= form_for ([@user, @task]) do |f| %>
          <%= render 'layouts/error_messages', object: f.object %>
          <div class="field form-group">
            <% if current_user.id == @task.assigner.id %>
              <p><strong>Executor: <%= @task.executor.profile.first_name %> <%= @task.executor.profile.last_name %>, <%= @task.executor.profile.company %></strong></p>
            <% else %>
              <p><strong>Assigner: <%= @task.assigner.profile.first_name %> <%= @task.assigner.profile.last_name %>, <%= @task.assigner.profile.company %></strong></p>
            <% end %>
          </div>
          <div class="field form-group">
            <%= f.label :content %>
            <%= f.text_area :content, class: "form-control" %>
          </div>
          <div class="field form-group">
            <%= f.label :deadline %>
            <%= f.text_field :deadline, class: "form-control task-deadline" %>
          </div>
          <div class="actions">
            <%= f.submit "Update Task", class: 'btn btn-primary', "data-sid" => current_user.id, "data-rip" => :executor_id %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>