<%= form_for ([@user, @task]) do |f| %>
  <div class="col-md-4 col-md-offset-2">
    <div class="form-group">
      <%= f.label :executor_id %>
      <%= f.collection_select(:executor_id, User.all, :id, :email) %>
    </div>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>
    <div class="form-group">
      <%= f.label :deadline %>
      <%= f.date_select :deadline %>
    <div class="form-group">
      <%= f.submit %>
    </div>
  </div>
<% end %>