<% provide(:title, 'Incoming tasks') %>
<div class= "container-fluid task-container">
  <div class="row task-header">
    <h3>Incoming Tasks</h3>
    <span class="rightfloat">
      <div class="btn-group" role="group" aria-label="...">
        <%= link_to "Completed Tasks", completed_tasks_user_tasks_path(current_user), class: "btn btn-default", style: "margin-right:0px;border-right:0px;" %>
        <%= link_to "Outgoing Tasks", outgoing_tasks_user_tasks_path(current_user), class: "btn btn-default" %>
        <%= link_to "All Tasks", user_tasks_path(current_user), class: "btn btn-default" %>
      </div>
    </span>
  </div>
  <div class="panel panel-default">
    <table class="table table-bordered">
      <thead>
        <tr>
          <!-- Sorting implemented w/ ransack gem -->
          <th class="col-md-2"><%= sort_link(@q_incoming_tasks, :assigner_profile_first_name, 'Name / Company') %></th>
          <th class="col-md-7"><%= sort_link(@q_incoming_tasks, :content, 'Content') %></th>
          <th class="col-md-2"><%= sort_link(@q_incoming_tasks, :deadline, 'Deadline') %></th>
          <th class="col-md-1"></th>
          <!-- End of ransack sorting-->
        </tr>
      </thead>
      <tbody data-behavior="task-insert">
        <% cache ['incoming-tasks', @tasks.map(&:id), @tasks.map(&:updated_at).max, @tasks.map{|task| task.assigner.profile.updated_at}.max, @tasks.map{|task| task.executor.profile.updated_at}.max] do %>
          <%= render @tasks || "There are no incoming tasks at the moment." %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="infinite-task-scrolling">
    <%= will_paginate @tasks %>
  </div>
  <div class="no-more">
    <p>No more tasks.</p>
  </div> 
</div>

<%= render 'edit_task_modal' %>
<%= render 'delete_task_modal' %>


