<div class= "container-fluid task-container">
  <div class="row task-header">
    <h3>Incoming tasks</h3>
    <span class="rightfloat">
      <div class="btn-group" role="group" aria-label="...">
        <%= link_to "Completed tasks", completed_tasks_user_tasks_path(current_user), class: "btn btn-default" %>
        <%= link_to "Outgoing Tasks", outgoing_tasks_user_tasks_path(current_user), class: "btn btn-default" %>
      </div>
    </span>
  </div>
  <div class="panel panel-default">
    <table class="table table-bordered">
      <thead>
        <tr>
          <!-- Sorting implemented w/ ransack gem -->
          <th class="col-md-2"><%= sort_link(@q_incoming_tasks, :assigner_profile_first_name, 'Name / Company') %></th>
          <th class="col-md-7"><%= sort_link(@q_incoming_tasks, :content, 'Content') %></th>
          <th class="col-md-2"><%= sort_link(@q_incoming_tasks, :deadline, 'Deadline') %></th>
          <th class="col-md-1">C/E/D</th>
          <!-- End of ransack sorting-->
        </tr>
      </thead>
      <tbody>
        <%= render @executed_tasks %>
      </tbody>
    </table>
  </div>
  <%= will_paginate @executed_tasks %> 
</div>