<div class= "container">
  <div class = "row">
    <% @assigned_tasks.each do |task| %>
      <% unless task.completed? %>
        <%= link_to user_task_path(id: task.id) do %> 
          <%= task.name %> 
        <% end %> 
        <%= task.content %>
        <%= task.executor.profile.first_name %>
      <% end %>
    <% end %>
    <br />
    <br />
    <% @executed_tasks.each do |task| %>
      <% unless task.completed? %>
        <%= link_to user_task_path(id: task.id) do %>
          <%= task.name %>
        <% end %>
        <%= task.content %>
        <%= task.assigner.profile.first_name %>
      <% end %> 
    <% end %>
  </div>
</div>