<div class= "container task-container">
  <div class="row task-header">
  <h2>Task List<%= link_to "Outgoing Tasks", outgoing_tasks_user_tasks_path(current_user), class: "btn btn-primary" %> <%= link_to "Incoming Tasks", incoming_tasks_user_tasks_path(current_user), class: "btn btn-primary" %> <%= link_to "New Task", new_user_task_path(current_user), type: "button", class: "btn btn-primary newbutton", :remote => true, 'data-toggle' => 'modal', 'data-target' => '#newtask' %></h2>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-3">Name / Company</th>
        <th class="col-md-5">Content</th>
        <th class="col-md-2">Deadline</th>
        <th class="col-md-2">Comp. / Edit / Del.</th>
      </tr>
    </thead>
    <tbody class="newtaskinsert">
      <%= render @tasks %>
    </tbody>
  </table>
  <%= will_paginate @tasks %>

  <!-- Modal for new task -->
  <%= form_for([current_user, @task], remote: true) do |f| %>
    <div class="modal fade" id="newtask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">New Task</h4>
          </div>
          <div class="modal-body">
            <%= render 'layouts/error_messages', object: f.object %>
            <div class="field form-group">
              <%= f.label :Name_or_Company %>
              <%= f.text_field :task_name_company, data: {autocomplete_source: user_tasknamecompanies_path}, class: "form-control task_name_company", value: "" %>
            </div>
            <div class="field form-group">
              <%= f.label :content %>
              <%= f.text_area :content, class: "form-control contentarea" %>
            </div>
            <div class="field form-group">
              <%= f.label :deadline %>
              <%= f.datetime_select :deadline, ampm: true, :start_year => Date.current.year, :order => [:day, :month, :year], class: "form-control task_deadline" %>
            </div>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="newtaskclose">Close</button>
            <%= f.submit "Create Task", class: 'btn btn-primary', "data-sid" => current_user.id, "data-rip" => :executor_id %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <!-- Modal End for new task -->
</div>


