<% provide(:title, 'Tasks') %>
<div class= "container-fluid task-container">
  <div class="row task-header">
    <h3>All Tasks</h3>
    <span class="rightfloat">
      <%= link_to "NEW TASK", new_user_task_path(current_user), type: "button", class: "btn btn-primary newbutton", remote: true, 'data-toggle' => 'modal', 'data-target' => '#newtask' %>
      <div class="btn-group" role="group" aria-label="...">
        <%= link_to "Completed Tasks", completed_tasks_user_tasks_path(current_user), class: "btn btn-default", style: "margin-right:0px;border-right:0px;" %>
        <%= link_to "Outgoing Tasks", outgoing_tasks_user_tasks_path(current_user), class: "btn btn-default" %>
        <%= link_to "Incoming Tasks", incoming_tasks_user_tasks_path(current_user), class: "btn btn-default" %> 
      </div>
    </span>
  </div>
  <div class="panel panel-default">
    <table class="table table-bordered">
      <thead>
        <tr>
          <!-- Sorting implemented w/ ransack gem -->
          <th class="col-md-2">Name / Company</th>
          <th class="col-md-7">Content</th>
          <th class="col-md-2">Deadline</th>
          <th class="col-md-1"></th>
          <!-- End of ransack sorting-->
        </tr>
      </thead>
      <tbody class="new-task-insert">
        <% cache ['tasks-index', @tasks.map(&:id), @tasks.map(&:updated_at).max, @tasks.map{|task| task.assigner.profile.updated_at}.max, @tasks.map{|task| task.executor.profile.updated_at}.max] do %>
          <%= render @tasks %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="infinite-task-scrolling">
    <%= will_paginate %>
  </div>
  <div class="no-more">
    <p>No more tasks.</p>
  </div>
</div>
  
<%= render "new_task_modal" %>

<!-- EDIT TASK MODAL -->

<div class="modal fade updatetask" id="update-task-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="text-align:left">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Task</h4>
      </div>
      <div class="task-edit-form-insert">
        <!-- UPDATE FORM GETTING RENDERED HERE -->
      </div> 
    </div>
  </div>
</div>

<!-- END OF EDIT TASK MODAL -->

<!-- DELETE POST MODAL -->

<div class="modal fade" id="delete-task-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="text-align:left">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Task</h4>
      </div>
      <div class="modal-body">
        <h4>Are you sure?</h4>
        <p> </p>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="deletetaskclose">Close</button>
        <a href="#" id="delete-task-link" type="button" class="btn btn-danger" data-taskdestroylink >Delete Task</a>
          <!-- DESTROY LINK GETS INSERTED HERE -->      
      </div>
    </div>
  </div>
</div>



