<% provide(:title, 'Tasks') %>
<div class= "container-fluid task-container">
  <div class="row title-row">
    <div class="col-md-4 title-col">
      <h3><i class="fa fa-tasks"></i><span class="space">All Tasks</span></h3>
    </div>
    <div class="col-md-8 title-col">
      <span class="rightfloat">
        <a href="#" type="button" class="btn btn-sm btn-primary newbutton" data-toggle="modal" data-target="#new-task">NEW TASK</a>
        <div class="btn-group" role="group" aria-label="...">
          <%= link_to "Completed Tasks", completed_tasks_user_tasks_path(current_user), class: "btn btn-sm btn-default" %>
          <%= link_to "Outgoing Tasks", outgoing_tasks_user_tasks_path(current_user), class: "btn btn-sm btn-default" %>
          <%= link_to "Incoming Tasks", incoming_tasks_user_tasks_path(current_user), class: "btn btn-sm btn-default" %> 
        </div>
      </span>
    </div>
  </div>
  <div class="panel panel-default">
    <table class="table table-bordered">
      <thead>
        <tr>
          <!-- Sorting implemented w/ ransack gem -->
          <th class="col-md-2">Name / Company</th>
          <th class="col-md-7">Content</th>
          <th class="col-md-2">Sent at</th>
          <th class="col-md-1"></th>
          <!-- End of ransack sorting-->
        </tr>
      </thead>
      <tbody data-behavior="task-insert">
        <% cache ['tasks-index', @tasks.map(&:id), @tasks.map(&:updated_at).max, @tasks.map{ |task| task.assigner.profile.updated_at }.max, @tasks.map{ |task| task.executor.profile.updated_at }.max] do %>
          <%= render @tasks %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="infinite-task-scrolling">
    <%= will_paginate @tasks %>
  </div>
  <div class="no-more">
    <p>No more tasks.</p>
  </div>
</div>
  
<%= render "new_task_modal" %>
<%= render 'edit_task_modal' %>
<%= render 'delete_task_modal' %>

