<% provide(:title, 'Tasks') %>
<div class= "container-fluid task-container">
  <div class="row task-header">
    <h3>All tasks</h3>
    <span class="rightfloat">
      <%= link_to "NEW TASK", new_user_task_path(current_user), type: "button", class: "btn btn-primary newbutton", :remote => true, 'data-toggle' => 'modal', 'data-target' => '#newtask' %>
      <div class="btn-group" role="group" aria-label="...">
        <%= link_to "Outgoing Tasks", outgoing_tasks_user_tasks_path(current_user), class: "btn btn-default" %>
        <%= link_to "Incoming Tasks", incoming_tasks_user_tasks_path(current_user), class: "btn btn-default" %> 
      </div>
    </span>
  </div>
  <div class="panel panel-default">
    <table class="table table-bordered">
      <thead>
        <tr>
          <!-- Sorting implemented w/ ransack gem -->
          <th class="col-md-2">Name / Company</th>
          <th class="col-md-7">Content</th>
          <th class="col-md-2">Deadline</th>
          <th class="col-md-1">C/E/D</th>
          <!-- End of ransack sorting-->
        </tr>
      </thead>
      <tbody class="newtaskinsert">
        <%= render @tasks %>
      </tbody>
    </table>
  </div>
  <div id="infinite-task-scrolling" style="text-align:center;display:none">
    <%= will_paginate %>
  </div>
  <div class="no-more" style="display:none;padding-left:20px;">
    <p>No more tasks.</p>
  </div>
  <%= render "new_task_modal" %>
</div>


