<div class= "container-fluid task-container">
  <div class="row task-header">
    <h3>Outgoing tasks</h3>
    <span class="rightfloat">
      <%= link_to "NEW TASK", new_user_task_path(current_user), type: "button", class: "btn btn-primary newbutton", remote: true, 'data-toggle' => 'modal', 'data-target' => '#newtask' %>
      <div class="btn-group" role="group" aria-label="...">
        <%= link_to "Completed Tasks", completed_tasks_user_tasks_path(current_user), class: "btn btn-default" %>
        <%= link_to "Incoming Tasks", incoming_tasks_user_tasks_path(current_user), class: "btn btn-default newbutton" %>
      </div>
    </span>
  </div>
  <div class="panel panel-default">
    <table class="table table-bordered">
      <thead>
        <tr>
          <!-- Sorting implemented w/ ransack gem -->
          <th class="col-md-2"><%= sort_link(@q_outgoing_tasks, :executor_profile_first_name, 'Name / Company') %></th>
          <th class="col-md-7"><%= sort_link(@q_outgoing_tasks, :content, 'Content') %></th>
          <th class="col-md-2"><%= sort_link(@q_outgoing_tasks, :deadline, 'Deadline') %></th>
          <th class="col-md-1">C/E/D</th>
          <!-- End of ransack sorting-->
        </tr>
      </thead>
      <tbody class="newtaskinsert">
        <%= render @assigned_tasks %>
      </tbody>
    </table>
  </div>
  <%= will_paginate @assigned_tasks %>

  <!-- Bootstrap Modal for new task -->
  <%= form_for([current_user, @task], remote: true) do |f| %>
    <div class="modal fade" id="newtask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">New Task</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" style="display:none">
              <ul class="errors" style="display:none">
                <%= render 'layouts/error_messages', object: f.object %>
              </ul>
            </div>
            <div class="field form-group">
              <!-- Autocompletion with jquery -->
              <%= f.label :Name_or_Company %>
              <%= f.text_field :task_name_company, data: {autocomplete_source: user_tasknamecompanies_path}, class: "form-control task_name_company", value: "" %>
            </div>
            <div class="field form-group">
              <%= f.label :content %>
              <%= f.text_area :content, class: "form-control contentarea" %>
            </div>
            <div class="field form-group">
              <%= f.label :deadline %>
              <%= f.datetime_select :deadline, ampm: true, :start_year => Date.current.year, :order => [:day, :month, :year], class: "form-control task_deadline" %>
            </div>   
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="newtaskclose">Close</button>
            <%= f.submit "Create Task", class: 'btn btn-primary submittask', "data-sid" => current_user.id, "data-rip" => :executor_id %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <!-- Bootstrap Modal End for new task -->
</div>
