<% provide(:title, 'Outgoing tasks') %>
<div class= "container-fluid task-container">
  <div class="row task-header">
    <h3>Outgoing Tasks</h3>
    <span class="rightfloat">
      <a href="#" type="button" class="btn btn-primary newbutton" data-toggle="modal" data-target="#new-task">NEW TASK</a>
      <div class="btn-group" role="group" aria-label="...">
        <%= link_to "Completed Tasks", completed_tasks_user_tasks_path(current_user), class: "btn btn-default" %>
        <%= link_to "Incoming Tasks", incoming_tasks_user_tasks_path(current_user), class: "btn btn-default" %>
        <%= link_to "All Tasks", user_tasks_path(current_user), class: "btn btn-default" %>
      </div>
    </span>
  </div>
  <div class="panel panel-default">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="col-md-2">Name / Company</th>
          <th class="col-md-7">Content</th>
          <th class="col-md-2">Deadline</th>
          <th class="col-md-1"></th>
        </tr>
      </thead>
      <tbody data-behavior="task-insert">
        <% cache ['outgoing-tasks', @tasks.map(&:id), @tasks.map(&:updated_at).max, @tasks.map{|task| task.assigner.profile.updated_at}.max, @tasks.map{|task| task.executor.profile.updated_at}.max] do %>
          <%= render @tasks || "There are no outgoing tasks at the moment." %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="infinite-task-scrolling">
    <%= will_paginate @tasks %>
  </div>
  <div class="no-more">
    <p>No more tasks.</p>
  </div>
</div>

<%= render "new_task_modal" %>
<%= render 'edit_task_modal' %>
<%= render 'delete_task_modal' %>

