<div class= "container task-container">
  <div class="row task-header">
    <h2>Outgoing Task List<%= link_to "Incoming Tasks", incoming_tasks_user_tasks_path(current_user), class: "btn btn-primary" %> <%= link_to "New Task", new_user_task_path(current_user), class: "btn btn-primary" %></h2>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-3">Name /Company name</th>
        <th class="col-md-4">Content</th>
        <th class="col-md-3">Deadline</th>
        <th class="col-md-1">Complete</th>
        <th class="col-md-1">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @assigned_tasks.each do |task| %>
        <tr style="background: #eaeaea">
          <td class="col-md-3">
            <%= link_to user_path(id: task.executor.id) do %>
              <%= task.executor.profile.first_name %> <%= task.executor.profile.last_name%> / <%= task.executor.profile.company %>
            <% end %>
          </td>
          <td class="cold-md-4">
            <%= link_to user_task_path(id: task.id) do %>
              <%= task.content %>
            <% end %>
          </td>
          <td class="col-md-3">
            <%= task.deadline %>
          </td>
          <td class="col-md-1">
            <%= link_to complete_user_task_path(id: task.id), method: :patch do %>
              <i class="fa fa-check"></i>
            <% end %>
          </td>
          <td class="col-md-1">
            <%= link_to user_task_path(id: task.id), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @assigned_tasks %> 
</div>
