<% provide(:title, 'Outgoing tasks') %>
<div class= "container-fluid task-container">
  <div class="row task-header">
    <h3>Outgoing tasks</h3>
    <span class="rightfloat">
      <%= link_to "NEW TASK", new_user_task_path(current_user), type: "button", class: "btn btn-primary newbutton", remote: true, 'data-toggle' => 'modal', 'data-target' => '#newtask' %>
      <div class="btn-group" role="group" aria-label="...">
        <%= link_to "Completed Tasks", completed_tasks_user_tasks_path(current_user), class: "btn btn-default" %>
        <%= link_to "Incoming Tasks", incoming_tasks_user_tasks_path(current_user), class: "btn btn-default newbutton" %>
      </div>
    </span>
  </div>
  <div class="panel panel-default">
    <table class="table table-bordered">
      <thead>
        <tr>
          <!-- Sorting implemented w/ ransack gem -->
          <th class="col-md-2"><%= sort_link(@q_outgoing_tasks, :executor_profile_first_name, 'Name / Company') %></th>
          <th class="col-md-7"><%= sort_link(@q_outgoing_tasks, :content, 'Content') %></th>
          <th class="col-md-2"><%= sort_link(@q_outgoing_tasks, :deadline, 'Deadline') %></th>
          <th class="col-md-1">C/E/D</th>
          <!-- End of ransack sorting-->
        </tr>
      </thead>
      <tbody class="newtaskinsert">
        <%= render @tasks || "There are no outgoing tasks at the moment." %>
      </tbody>
    </table>
  </div>
  <div id="infinite-task-scrolling" style="text-align:center;display:none">
    <%= will_paginate @tasks %>
  </div>
  <div class="no-more" style="display:none;padding-left:20px;">
    <p>No more tasks.</p>
  </div>
  <%= render "new_task_modal" %>
</div>
