<% provide(:title, 'Task') %>
<div class="container-fluid container-form">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= @task.content %>
      <% if @user.id == @task.assigner.id %>
        <%= @task.executor.first_name %> <%= @task.executor.profile.last_name %>
      <% else %>
        <%= @task.assigner.first_name %> <%= @task.assigner.profile.last_name %>
      <% end %>
      <%= @task.deadline %>
      <%= link_to "Edit task", edit_user_task_path(id: @task.id) %>
    </div>
  </div>
</div>