<div class="start-conversation" data-convid= "<%= @conversation.id %>" data-recid= "<%= @receiver %>">
  <div class="chatboxhead">
    <div class="chatboxtitle">
      <i class="fa fa-comments"></i>
      <h1>Chat</h1>
    </div>
    <br clear="all"/>
  </div>
  <div class="chatbox-content" data-behavior="message-insert">
    <% cache ['messages-index', @messages.map(&:id), @messages.map(&:updated_at).max, @messages.map{|message| message.conversation.sender.profile.updated_at}.max, @messages.map{|message| message.conversation.recipient.profile.updated_at}.max, current_user] do %>

      <%= render @messages %>
      
    <% end %>
  </div>
  <div class="chatboxinput">
    <%= form_for([@conversation, Message.new], remote: true, data: { behavior: "new-message-body-form" }) do |f| %>
      <%= f.text_area :body, class: "chatbox-text-area", data: { cid: "#{@conversation.id}", behavior: "new-message-body" } %>
    <% end %>
    <%= form_for([@conversation, Message.new], remote: true, data: { behavior: "message-upload-form" }) do |form| %>
      <span class="btn btn-success btn-sm btn-message-file">Choose file
      <%= form.attachment_field :message_attachment, presigned: true, direct: true, data: { behavior: "new-message-file" } %></span>
      <%= form.submit "Send File", class: "btn btn-primary btn-sm", style:"display:none", data: { behavior: "message-upload-submit" } %>
    <% end %>
    <span data-behavior="message-upload-progress"></span>
  </div>
</div>



