<% if notification.sender.present? %>
  <% if notification.checked_at == nil %>
    <div class ="notification-line notification-line-unchecked" data-nid="notification.id">
  <% else %>
    <div class="notification-line notification-line-checked" data-nid="notification.id">
  <% end %>
    <% if notification.notifiable_type == "Post" %>
      <%= link_to dropdown_checking_decreasing_user_notifications_path(current_user,anchor_param: "post_#{notification.notifiable_id}", post_id: notification.notifiable_id) do %>
        <%= image_tag notification.sender.avatar.url(:small_thumb), class: 'notification-index-avatar' %>
        <span>
          <div class="subject">
            <%= notification.sender.full_name %> has <%= notification.action %> on a <%= notification.notifiable_type.underscore %> you are following.
          </div>
          <div class="time">
            <% if notification.created_at.today? %>      
                Sent at<%= local_time(notification.created_at, "%H:%M %p") %>
            <% else %>
                Sent at <%= local_time(notification.created_at, "%d %b %H:%M %p") %>
            <% end %>
          </div>
        </span>
      <% end %>
    <% else %>
      <%= link_to user_path(notification.sender) do %>
        <%= image_tag notification.sender.avatar.url(:small_thumb), class: 'notification-index-avatar' %>
        <span>
          <div class="subject">
            <% if notification.notifiable_type == "Message" %>
              <%= notification.sender.full_name %> has sent you a <%= notification.notifiable_type.underscore %> on chat.
            <% elsif notification.notifiable_type == "Task" %>
              <%= notification.sender.full_name %> has <%= notification.action %> you a <%= notification.notifiable_type.underscore %>.
            <% end %>
          </div>
          <div class="time">
            <% if notification.created_at.today? %>      
                Sent at<%= local_time(notification.created_at, "%H:%M %p") %>
            <% else %>
                Sent at <%= local_time(notification.created_at, "%d %b %H:%M %p") %>
            <% end %>
          </div>
        </span>
      <% end %>
    <% end %>
  </div>
<% end %>

