<% if notification.sender.present? %>
  <% if notification.checked_at == nil %>
    <div class ="notification-line">
  <% else %>
    <div class="notification-line-checked">
  <% end %>
    <%= link_to user_path(notification.sender) do %>
      <%= image_tag notification.sender.profile.avatar.url(:base_thumb), class: 'avatar' %>
      <span>
        <div class="subject">
          <% if notification.notification_type == "chat" %>
            <%= notification.sender.profile.first_name %> <%= notification.sender.profile.last_name %> has sent you a message on chat.
          <% else %>
            <%= notification.sender.profile.first_name %> <%= notification.sender.profile.last_name %> has sent you a <%= notification.notification_type %>.
          <% end %>
        </div>
        <div class="time">
          <% if notification.created_at.today? %>      
              Sent at<%= local_time(notification.created_at, "%H:%M %p") %>
          <% else %>
              Sent at <%= local_time(notification.created_at, "%d %b %H:%M %p") %>
          <% end %>
        </div>
      </span>
    <% end %>
  </div>
<% end %>

