<div id = "sidebar-user">
  <div class="list-name">
    <%= link_to users_path do %>
      <h4><i class="fa fa-users"></i><span class="space">Latest users</span></h4>
    <% end %>
  </div>
  <div class = "list-elements">
    <ol>
      <% cache(['sidebar-profiles-index', @profiles_sidebar.map(&:id), @profiles_sidebar.map(&:updated_at).max]) do %>
        <% @profiles_sidebar.each do |profile| %>
          <% cache ['sidebar-profiles-single', profile] do %>
            <%= link_to user_profile_path(profile.user) do %>
              <div class="hover">
                <li>
                  <%= image_tag profile.avatar.url(:small_thumb), class: "profile-image" %>
                  <span class="element-name">
                    <%= truncate(profile.full_name, length: 23) %>
                  </span>
                  <span class="second-element-name">
                    <%= truncate(profile.company, length:23) %>
                  </span>
                </li>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </ol>
  </div>
</div>