<% cache ['users-index', @users.map{|user| user.profile.id}, @users.map{|user| user.profile.updated_at}.max] do %>
  <% @users.each_slice(4) do |users_for_row| %>
    <div class="row">
      <% users_for_row.each do |user| %>
        <% cache ['users-index-single', user.profile] do %>
          <div class="col-md-3 user-column">
            <%= link_to user do %>
              <div class="well user-index-well">
                  <div><%= image_tag user.profile.avatar.url(:base_thumb), class: "profile-index-avatar" %></div>
                  <h4><%= user.full_name %></h4>
                  <h5><%= user.company %></h5>
                  <h5><%= user.job_title %></h5>
                </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>


