<% if user.profile %>
  <div class="col-md-4">
    <%= link_to user do %>
      <div class="panel panel-info">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
          <% if user.profile.avatar %>
            <%= image_tag user.profile.avatar.url(:base_thumb), class: "avatar" %>
          <% end %>
          <h4><%= user.profile.first_name %> <%= user.profile.last_name %></h4>
          <h5><%= user.profile.company %></h5>
          <h5><%= user.profile.job_title %></h5>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
