<tr class="user-index-row" data-link="<%= user_path(user) %>">
  <td class="col-md-6 name">
    <%= image_tag user.avatar.url(:base_thumb), class: "avatar" %>
    <div class="user-fullname">
      <%= user.full_name %>
    </div>
    <span class="company">
      <%= user.job_title %> at <%= user.company %>
    </span>
  </td>
  <td class="col-md-4 description">
    <%= user.description || "-" %>
  </td>
  <td class="col-md-2 location">
    <%= user.location || "-" %>
  </td>
</tr>



