<div id = "sidebar-user">
  <div class="list-name">
    <%= link_to users_path do %>
      <h4>Latest users</h4>
    <% end %>
  </div>
  <div class = "list-elements">
    <ol>
      <% @profiles_sidebar.each do |profile| %>
        <%= link_to user_path(profile.user) do %>
          <div class="hover">
            <li>
              <%= image_tag profile.avatar.url(:base_thumb), class: 'avatar' %>
              <span class="element-name">
                <%= truncate(profile.full_name, length: 25) %>
              </span>
              <span class="second-element-name">
                <%= truncate(profile.company, length:25) %>
              </span>
            </li>
          </div>
        <% end %>
      <% end %>
    </ol>
  </div>
</div>