<div id = "users-bar">
  <div class="search">
    <%= search_form_for @q_users, url: users_path, html: { class: "form-inline"} do |f| %>
      <% f.search_field :profile_full_name_or_profile_company_cont, url: request.url, placeholder: "Search user..", class: 'form-control' %>
    <% end %>
  </div>
  <div class = "users">
    <ol>
      <% @users3.each do |user| %>
        <li>
          <% if user.profile %>
            <%= link_to user do %>
              <% if user.profile.avatar %>
                <%= image_tag user.profile.avatar.url(:base_thumb), class: 'avatar' %>
              <% end %>
              <span class="user-fullname">
                  <%= user.profile.first_name.upcase %> <%= user.profile.last_name.upcase %>
              </span>
              <span class="company">
                <%= user.profile.company %>
              </span>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>
</div>