<div id = "users-bar">
  <div class="search">
    <%= search_form_for @q_users, url: users_path, html: { class: "form-inline"} do |f| %>
      <% f.search_field :profile_full_name_or_profile_company_cont, url: request.url, placeholder: "Search user..", class: 'form-control' %>
    <% end %>
  </div>
  <div class = "users">
    <ol>
      <% @users3.each do |user| %>
        <% if user.profile %>
          <li>
            <%= link_to user do %>
              <% if user.profile.avatar %>
                <%= image_tag user.profile.avatar.url(:base_thumb), class: 'avatar' %>
              <% end %>
              <span class="user-fullname">
                <%= truncate(user.profile.full_name, length: 20) %>
              </span>
              <span class="company">
                <%= truncate(user.profile.company, length:26) %>
              </span>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ol>
  </div>
</div>