<% provide(:title, 'All users') %>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1 style="text-align:center; vertical-align:text-top">Users</h1>
    </div>
    <div class="col-md-4">
      <div class = "user-search" style="text-align:right">
        <%= search_form_for @q, html: { class: "form-inline"} do |f| %>
          <% f.search_field :profile_first_name_or_profile_last_name_cont, placeholder: "Search...", class: 'form-control' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <ol class="user-profile-index">
      <% @users.each do |user| %>
        <div class="col-md-4">
          <li>
            <% if user.profile %>
              <% if user.profile.avatar %>
                <%= link_to user do %>
                  <%= image_tag user.profile.avatar.url(:thumb), class: 'avatar' %>
                <% end %>
              <% end %>
              <span class="user"><%= link_to user do %>
               <%= user.profile.first_name %> <%= user.profile.last_name %>
               <% end %></span>
              <span class="company"><%= user.profile.company %></span>
              <% unless user.profile.job_title.blank? %>
                <span class="job_title"><%= user.profile.job_title%></span>
              <% end %> 
            <% end %>
          </li>
        </div>
      <% end %>
    </ol>
  </div>
</div>

