<!--<div class="container container-show">
  <div class="user-profile-show">
    <div class="avatar-name"%>
      <%= image_tag @user.profile.avatar.url(:thumb), class: "avatar" %>
      <h3><%= @user.profile.first_name %> <%= @user.profile.last_name %></h3>
    </div>
    <div class="company">
      <h4>Company: <%= @user.profile.company %></h4>
    </div>
    <div class="job-title">
      <p>Job title: <%= @user.profile.job_title %></p>
    </div>
    <div class="phone-number">
      <p>Phone number: <%= @user.profile.phone_number %></p>
    </div>
    <div class="description">
      <p><%= @user.profile.description %></p>
    </div>
  </div>
</div>-->
<div class="container">
  <div class="user-profile-show">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.profile.first_name %> <%= @user.profile.last_name %></h3>
      </div>
      <div class="panel-body">
        <%= image_tag @user.profile.avatar.url(:thumb), class: "avatar" %>
        <p><%= @user.profile.company %></p>
        <p><%= @user.profile.job_title %></p>
        <p><%= @user.profile.phone_number %></p>
      </div>
      <div class="panel-footer">
        <p><%= @user.profile.description %></p>
      </div>
    </div>
  </div>
</div>





