<div class="container-fluid" style="padding-right:0px;padding-left:0px">
  <div class = "col-md-9" style="padding-left:20px;padding-right:20px">
    <%= render 'tasks/between' %>
  </div>
  <div class = "col-md-3" style="background:#337ab7">
    <div class="user-profile-show">
      <div class="panel panel-primary" style="border-bottom-left-radius:10px;border-bottom-right-radius:10px">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @user.profile.first_name %> <%= @user.profile.last_name %></h3>
        </div>
        <div class="panel-body" style="border-top-left-radius:10px;border-top-right-radius:10px">
          <% if @user.profile.avatar %>
            <%= image_tag @user.profile.avatar.url(:base_thumb), class: "avatar" %>
          <% end %>
          <p><%= @user.profile.company %></p>
          <p><%= @user.profile.job_title %></p>
          <p><%= @user.profile.phone_number %></p>
        </div>
        <div class="panel-footer" style="border-bottom-left-radius:10px;border-bottom-right-radius:10px">
          <p><%= @user.profile.description %></p>
        </div>
      </div>
    </div>
    <%if @conversation%>
      <%= render 'conversations/show' %>
    <% end %>
    <br />
    <br />
    <br />
    <br />
  </div>
</div>





