<div class="container-fluid" style="padding-right:0px;padding-left:0px">
  <div class = "col-md-9" style="padding-left:20px;padding-right:20px">
    <%= render 'tasks/between' %>
  </div>
  <div class = "col-md-3 rightsidebar">
    <br />
    <div class="user-profile-show">
      <div class="panel panel-primary" style="border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px">
        <div class="panel-heading" style="border-top-left-radius:10px;border-top-right-radius:10px">
          <h3 class="panel-title"><%= @user.profile.first_name %> <%= @user.profile.last_name %></h3>
        </div>
        <div class="panel-body">
          <% if @user.profile.avatar %>
            <%= image_tag @user.profile.avatar.url(:base_thumb), class: "avatar" %>
          <% end %>
          <p><%= @user.profile.company %></p>
          <p><%= @user.profile.job_title %></p>
          <p><%= @user.profile.phone_number %></p>
        </div>
        <div class="panel-footer" style="border-bottom-left-radius:10px;border-bottom-right-radius:10px">
          <p><%= @user.profile.description %></p>
        </div>
      </div>
    </div>
    <%if @conversation%>
      <%= render 'conversations/show' %>
    <% end %>
    <br />
    <br />
    <br />
    <br />
  </div>
</div>

 <!-- Modal for new task -->
  <%= form_for([current_user, @task_between], remote: true) do |f| %>
    <div class="modal fade" id="newtask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">New Task</h4>
          </div>
          <div class="modal-body">
            <%= render 'layouts/error_messages', object: f.object %>
            <div class="field form-group">
              <%= f.hidden_field :executor_id, :value => @user.id %>
              <p><strong>Executor: <%= @user.profile.first_name %> <%= @user.profile.last_name %>, <%= @user.profile.company %></strong></p>
            </div>
            <div class="field form-group">
              <%= f.label :content %>
              <%= f.text_area :content, class: "form-control contentarea" %>
            </div>
            <div class="field form-group">
              <%= f.label :deadline %>
              <%= f.datetime_select :deadline, ampm: true, :start_year => Date.current.year, :order => [:day, :month, :year], class: "form-control task_deadline" %>
            </div>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="newtaskclose">Close</button>
            <%= f.submit "Create Task", class: 'btn btn-primary', "data-sid" => current_user.id, "data-rip" => :executor_id %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <!-- Modal End for new task -->




