<div class="container container-show">
  <div class="user-profile-show">
    <div class="avatar-name"%>
      <%= image_tag @user.profile.avatar.url(:thumb), class: "avatar" %>
      <h3><%= @user.profile.first_name %> <%= @user.profile.last_name %></h3>
    </div>
    <div class="company">
      <h4>Company: <%= @user.profile.company %></h4>
    </div>
    <div class="job-title">
      <p>Job title: <%= @user.profile.job_title %></p>
    </div>
    <div class="phone-number">
      <p>Phone number: <%= @user.profile.phone_number %></p>
    </div>
    <div class="description">
      <p><%= @user.profile.description %></p>
    </div>
  </div>
</div>  