<% provide(:title, "Events") %>
<div class= "container-fluid task-container">
  <% if @google.blank? %>
    <% if @user == current_user %>
      <%= link_to "/auth/google_oauth2", class: "btn btn-social-reg btn-google" do %>
        <i class="fa fa-google"> Google calendar</i>
      <% end %>
    <% else %>
        <p><%= @user.profile.first_name %> has not connected a calendar yet.</p> %>
        <p>Tell <%= link_to user_path(@user) do %>
          <%= @user.profile.first_name %><% end %> to connect his/her calendar.</p>
    <% end %>
  <% else %>
    <div class = "calendar-container" >
      <div class="calendar-loading"></div>
        <div id="calendar" data-eventuserid="<%= request.parameters['user_id'] %>"></div>
      </div>
    </div>
  <% end %>
</div>