<% provide(:title, @product.name + " members") %>
<div class= "container-fluid product-container">
  <div class="product-show-container">
    <div class="row product-name-owner-panel">
      <div class="col-md-12">
        <%= link_to product_path(@product) do %>
          <%= image_tag @product.product_image_url(:small_thumb) %>
          <h3><%= @product.name %> 
        <% end %>
        owner panel</h3>
      </div>
    </div>

    <h4>Invite a New Member</h4>
    <div class="well product-well">
      <p>Product members will appear on the product's page alongside the product owner.</p>
  
      <%= render partial: "products/group_invitations/form", locals: { product: @product } %>
    </div>

    <h4>Invite a New Referencer</h4>
    <div class="well product-well">
      <p>Product referencers (customers, that you added to product) can verify they are using your product and 
      can write reviews on the product customer page.</p>

      <% if @product.product_customers.any? %>

        <%= render partial: "product_customers/group_invitations/form", locals: { product_customers: @product_customers } %>

      <% else %>

        <p><strong>Once you have added customers you will be able to send invitations.</strong></p>

      <% end %>
    </div>

    <h4>Product Members</h4>
    <div class="panel panel-default product-users-panel">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="col-md-6">Name</th>
            <th class="col-md-3">Role</th>
            <th class="col-md-3">Remove</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "products/product_users/product_user", collection: @product_users, as: :product_user, locals: { product: @product } %>
        </tbody>
      </table>
    </div>

    <h4>Product Member Invitations</h4>
    <div class="panel panel-default product-users-panel">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="col-md-3">Email</th>
            <th class="col-md-3">Name</th>
            <th class="col-md-3">Status</th>
            <th class="col-md-3">Delete</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "group_invitations/group_invitation", collection: @product_group_invitations, as: :group_invitation  %>
        </tbody>
      </table>
    </div>

    <h4>Product Referencers</h4>
    <p>Product referencers (persons) can verify they are using your product and 
    can write reviews on the product customer page.</p>
    <div class="panel panel-default product-users-panel">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="col-md-6">Name</th>
            <th class="col-md-3">Customer case</th>
            <th class="col-md-3">Remove</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "products/product_customer_users/product_customer_user", collection: @product_customer_users, as: :product_customer_user %>
        </tbody>
      </table>
    </div>

    <h4>Product Referencer Invitations</h4>
    <div class="panel panel-default product-users-panel">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="col-md-3">Email</th>
            <th class="col-md-3">Name</th>
            <th class="col-md-3">Status</th>
            <th class="col-md-3">Delete</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "group_invitations/group_invitation", collection: @product_customer_group_invitations, as: :group_invitation  %>
        </tbody>
      </table>
    </div>

  </div>
</div>

<%= render "group_invitations/destroy_group_invitation_modal" %>
<%= render "products/product_users/destroy_product_user_modal" %>
<%= render "products/product_customer_users/destroy_product_customer_user_modal" %>