<% provide(:title, @product.name + " members") %>
<div class= "container-fluid product-container">
  <div class="product-show-container">
    <div class="row product-name-owner-panel">
      <div class="col-md-12">
        <%= link_to product_path(@product) do %>
          <%= image_tag @product.product_image_url(:small_thumb) %>
          <h3><%= @product.name %> 
        <% end %>
        owner panel</h3>
      </div>
    </div>

    <h4>Invite a New Member</h4>
    <p>Product members will appear on the product's page alongside the product owner.</p>
    <%= form_for([@product, @group_invitation], html: { class: "product-group-invitation-form" }) do |f| %>
      <div class= "row">
        <div class="col-md-6">
          <%= render 'layouts/error_messages', object: f.object %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <%= f.email_field :email, class: 'form-control', placeholder: "Type an email address..." %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= f.button "Invite Member", class: "btn btn-primary btn-block", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Sending Invitation..." } %>
          </div>
        </div>
      </div>
    <% end %>

    <h4>Invite a New Referencer</h4>
    <p>Product referencers (customers, that you added to product) can verify they are using your product and 
    can write reviews on the product customer page.</p>

    <% if @product.product_customers.any? %>

      <%= form_for([@product_customers.first, @group_invitation], html: { class: "product-customer-group-invitation-form" }) do |f| %>
        <div class= "row">
          <div class="col-md-12">
            <%= render 'layouts/error_messages', object: f.object %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= f.email_field :email, class: 'form-control', placeholder: "Type an email address..." %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.collection_select :group_invitable_id, @product_customers, :id, :customer, {}, { class: 'form-control', id: "product-customer-collection-select" } %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.button "Invite Referencer", class: "btn btn-primary btn-block", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Sending Invitation..." } %>
            </div>
          </div>
        </div>
      <% end %>

    <% end %>

    <h4>Product Members</h4>
    <div class="panel panel-default product-users-panel">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="col-md-6">Name</th>
            <th class="col-md-3">Role</th>
            <th class="col-md-3">Remove</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "products/product_users/product_user", collection: @product_users, as: :product_user, locals: { product: @product } %>
        </tbody>
      </table>
    </div>

    <h4>Product Member Invitations</h4>
    <div class="panel panel-default product-users-panel">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="col-md-3">Email</th>
            <th class="col-md-3">Name</th>
            <th class="col-md-3">Status</th>
            <th class="col-md-3">Delete</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "group_invitations/group_invitation", collection: @product_group_invitations, as: :group_invitation  %>
        </tbody>
      </table>
    </div>

    <h4>Product Referencers</h4>
    <p>Product referencers (persons) can verify they are using your product and 
    can write reviews on the product customer page.</p>
    <div class="panel panel-default product-users-panel">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="col-md-6">Name</th>
            <th class="col-md-3">Customer case</th>
            <th class="col-md-3">Remove</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "products/product_customer_users/product_customer_user", collection: @product_customer_users, as: :product_customer_user %>
        </tbody>
      </table>
    </div>

    <h4>Product Referencer Invitations</h4>
    <div class="panel panel-default product-users-panel">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="col-md-3">Email</th>
            <th class="col-md-3">Name</th>
            <th class="col-md-3">Status</th>
            <th class="col-md-3">Delete</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "group_invitations/group_invitation", collection: @product_customer_group_invitations, as: :group_invitation  %>
        </tbody>
      </table>
    </div>

  </div>
</div>

<!-- DELETE PRODUCT USER MODAL -->

<div class="modal fade" id="delete-product-user-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="text-align:left">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Remove User from Product Members</h4>
      </div>
      <div class="modal-body">
        <h4>Are you sure?</h4>
        <p> </p>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="deleteproductuserclose">Close</button>
        <a href="#" type="button" class="btn btn-danger" data-method="delete" data-behavior="delete-product-user-submit" data-disable-with="<i class='fa fa-spinner fa-spin'></i> Deleting..." data-productuserdestroylink >Remove User</a>
          <!-- DESTROY LINK GETS INSERTED HERE -->      
      </div>
    </div>
  </div>
</div>

<!-- DELETE GROUP INVITATION MODAL -->

<div class="modal fade" id="delete-group-invitation-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="text-align:left">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Invitation</h4>
      </div>
      <div class="modal-body">
        <h4>Are you sure?</h4>
        <p> </p>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="deletegroupinvitationclose">Close</button>
        <a href="#" type="button" class="btn btn-danger" data-method="delete" data-behavior="delete-group-invitation-submit" data-disable-with="<i class='fa fa-spinner fa-spin'></i> Deleting..." data-groupinvitationdestroylink >Delete Invitation</a>
          <!-- DESTROY LINK GETS INSERTED HERE -->      
      </div>
    </div>
  </div>
</div>

<!-- DELETE PRODUCT CUSTOMER REFERENCER MODAL -->

<div class="modal fade" id="delete-product-customer-user-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="text-align:left">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Remove User from Product Customer Referencers</h4>
      </div>
      <div class="modal-body">
        <h4>Are you sure?</h4>
        <p> </p>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="deleteproductcustomeruserclose">Close</button>
        <a href="#" type="button" class="btn btn-danger" data-method="delete" data-behavior="delete-product-customer-user-submit" data-disable-with="<i class='fa fa-spinner fa-spin'></i> Deleting..." data-productuserdestroylink >Remove User</a>
          <!-- DESTROY LINK GETS INSERTED HERE -->      
      </div>
    </div>
  </div>
</div>