<% provide(:title, @product.name + " members") %>

<div class= "container-fluid product-container">
  <div class="product-show-container">

    <h3>Invite a New Member</h3>
    <div class="well product-well">
      <p>Product members will appear on the product's page alongside the product owner.</p>

      <%= render partial: "products/group_invitations/form", locals: { product: @product } %>
    </div>

    <% if @product_group_invitations.any? %>

      <h3>Product Member Invitations</h3>
      <div class="panel panel-default">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="col-md-3">Email</th>
              <th class="col-md-3">Name</th>
              <th class="col-md-3">Status</th>
              <th class="col-md-3"></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "group_invitations/group_invitation", collection: @product_group_invitations, as: :group_invitation %>
          </tbody>
        </table>
      </div>

    <% end %>

    <h3>Invite a New Referencer</h3>

    <div class="well product-well">
      <p>Product referencers (customers, that you added to product) can verify they are using your product and 
      can write reviews on the product customer page.</p>
      <% if @product.product_customers.any? %>

        <%= render partial: "product_customers/group_invitations/form", locals: { product_customers: @product_customers } %>

      <% else %>

        <p><strong>Once you have added customers you will be able to send invitations.</strong></p>

      <% end %>
    </div>

    <% if @product_customer_group_invitations.any? %>

      <h3>Product Referencer Invitations</h3>
      <div class="panel panel-default">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="col-md-3">Email</th>
              <th class="col-md-3">Name</th>
              <th class="col-md-3">Status</th>
              <th class="col-md-3">Delete</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "group_invitations/group_invitation", collection: @product_customer_group_invitations, as: :group_invitation %>
          </tbody>
        </table>
      </div>

    <% end %>

    <%= link_to "Skip and go to next page", add_company_product_path(@product) %>

  </div>
</div>

<%= render "group_invitations/destroy_group_invitation_modal" %>