<%= form_for @company, url: product_company_path(@product), data: { behavior: "company-form" } do |f| %>

  <div class="well company-well">
    <div class="row">
      <div class="col-md-12">
        <%= render 'layouts/error_messages', object: f.object %>
      </div>
    </div>

    <div class ="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :name, "Company Name *" %>
          <%= f.text_field :name, placeholder: "e.g. Google Inc.", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :location, "Location *" %>
          <%= f.text_field :location, placeholder: "Main location of the company e.g. San Francisco, CA", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :website, "Website *" %>
          <%= f.text_field :website, placeholder: "e.g. http://faskyn.com", autocomplete: "off", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div><%= f.label :founded, "Founding Date *" %></div>
          <%= f.date_select :founded, { order: [:month, :year], start_year: 15.years.ago.year, end_year: Date.current.year }, { class: "form-control company-date-select" } %>
          <div class="explanation founded-explanation">When did the company get founded?</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :team_size, "Team Size *" %>
          <%= f.text_field :team_size, placeholder: "Rough estimation of the number of people working at the company", autocomplete: "off", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :engineer_number, "Number of Engineers *" %>
          <%= f.text_field :engineer_number, placeholder: "number of engineers", autocomplete: "off", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <div><%= f.label :revenue_type, "Revenue Type *" %></div>
          <%= f.select :revenue_type, ["recurring revenue", "non-recurring revenue", "no revenue", "don't want to share"], {}, { "data-behavior" => "revenue-type-select", class: "form-control" } %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <div><%= f.label :revenue, "Revenue *" %></div>
          <!-- if numbers change here they must be also changed in companies.js -->
          <%= f.select :revenue, ["< $100k", "$100k < $1M", "> $1M", "$0"], {}, { "data-behavior" => "revenue-number-select", class: "form-control" } %>
          <div class="explanation revenue-explanation" data-behavior="revenue-explanation">ARR (annual recurring revenue)</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :investment, "Investment" %>
          <%= f.text_field :investment, placeholder: "All the investment raised to date in USD", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :investor, "Investors" %>
          <%= f.text_field :investor, placeholder: "List of investors who have invested", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :company_pitch_attachment, "Pitch (10MB max in PDF format)", class: "company-attachment-label" %>
          <%= f.attachment_field :company_pitch_attachment, presigned: true, direct: true, data: { behavior: "new-company-file" } %>
          <% if @company.company_pitch_attachment_id %>
            <span>Remove <%= truncate(@company.company_pitch_attachment_filename, length: 25) %> :</span>
            <%= f.check_box :remove_company_pitch_attachment %>
          <% end %>
        </div>
        <span data-behavior="company-file-upload-progress"></span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= link_to "Back to Product", product_path(@product), class: "btn btn-default back-button" %>
    <%= f.button "Save Company", class: "btn btn-primary", data: { behavior: "company-submit-button", disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..." } %>
    <!-- closing div in new and edit views -->
<% end %>