<% provide(:title, @product.name + " customer") %>
<div class= "container-fluid product-container">
  <div class="product-customer-lead-container">

    <% @product_customer.group_invitations.pending_user(current_user).each do |group_invitation| %>
      <%= render partial: "product_customers/group_invitations/group_invitation", locals: { group_invitation: group_invitation } %>
    <% end %>

    <% if policy(@product_customer).create_reviews? %>
      <div class="well product-well">
        <h4>Write a Review!</h4>
        <p>As a customer and user of <%= @product.name %> you can help them by posting a review.</p>
        <%= render partial: 'reviews/new_form' %>
      </div>
    <% end %>

    <% cache [@product_customer, @product_customer.owner.profile, @product_customer.users.map(&:id), @product_customer.users.map{ |user| user.profile.updated_at }.max] do %>

      <div class="panel panel-default product-customer-lead-panel" data-behavior="commentable_<%= @product_customer.id %>">

        <div class="panel-heading">
          <%= link_to @product do %>
            <div class= "product-header">
              <%= image_tag @product.product_image_url(:small_thumb) %>
              <h4><%= @product.name %>
              's customer case</h4>
            </div>
          <% end %>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="product-customer-list">
                <div class="list-name">
                  <%= link_to @product_customer.website, target: "_blank" do %>
                    <%= @product_customer.customer %>
                  <% end %>
                </div>
                <div class="description">
                  <%= @product_customer.usage %>
                </div>            
              </div>
            </div>
          </div>

          <% if @product_customer.users.any? %>
            <div class="row product-user-row">
              <div class="col-md-12">
                <% @product_customer.users.each do |user| %>
                  <span>
                    <%= link_to user_profile_path(user), 'data-toggle' => "tooltip", 'data-placement' => "bottom", 'data-delay' => '{"show":"40"}', 'title' => "#{user.full_name}" do %>
                      <%= image_tag user.avatar.url(:small_thumb), class: "product-customer-user-avatar" %>
                    <% end %>
                  </span>
                <% end %>
              </div>
            </div>
          <% end %>

        </div>
      </div>

    <% end %>

    <div class="reviews-index">
      <% if @reviews.any? %>
        <h4>Reviews</h4>
        <div class="well product-well" data-behavior="review-insert-anchor">
          <div data-behavior="review-insert">
            <%= render partial: "reviews/review", collection: @reviews, locals: { product_customer: @product_customer } %>
          </div>
        </div>
        <%= render partial: "reviews/update_review_modal" %>
        <%= render partial: "reviews/destroy_review_modal" %>
      <% end %>
    </div>

    <%= render partial: "comments/comment_panel", locals: { comments: @comments, commentable: @product_customer } %>

  </div>
</div>