<%= form_for @post, method: :patch, remote: true, :html => { :multipart => true } do |f| %>
  <div class="modal-body">
    <div class="alert alert-danger" style="display:none">
      <ul class="errors" style="display:none">
        <%= render 'layouts/error_messages', object: f.object %>
      </ul>
    </div>
    <div class="old-post-image" data-behavior="old-post-image"><%= image_tag(@post.post_image.url) if @post.post_image? %></div>
    <img width=600 height=400 src="#" class="img-thumbnail hidden" data-behavior="img-prev-update"/>
    <div class="remove-post-preview-update hidden" data-behavior="remove-post-preview-update">
      <a href="#">Remove Image</a>
    </div>
    <div class="field form-group">
      <%= f.text_area :body, rows: "6", class: "form-control" %>
    </div>   
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" id="updatepostclose">Close</button>
    <span class="btn btn-default btn-post-file" data-originalimage="">Upload Image
      <%= f.file_field :post_image, data: { behavior: "post-image-upload-update" } %>
    </span>
    <%= f.hidden_field :post_image_cache %>
    <%= f.button "Update Post", class: 'btn btn-primary', data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."} %>
  </div>
<% end %>