<div class="well post-create-well">
  <%= form_for @post, remote: true, method: :post, html: { multipart: true }, data: { behavior: "new-post-creation-form" } do |f| %>
    <div class="alert alert-danger" style="display:none">
      <ul class="errors" style="display:none">
        <%= render 'layouts/error_messages', object: f.object %>
      </ul>
    </div>
    <div class="form-group">
      <img class="img-thumbnail hidden" width=300 height=200 src="#" data-behavior="img-prev"/>
      <div class="remove-post-preview hidden" data-behavior="remove-post-preview">
        <a href="#">Remove image</a>
      </div>
      <%= f.text_area :body, placeholder: "Share who should contact you..", rows: "3", class: "form-control", data: { behavior: "post-create-body" } %>
    </div>
    <div class="form-group">
      <%= f.button "SHARE", class: "btn btn-primary btn-sm", data: { behavior: "new-post-submit", disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..." } %>
      <span class="btn btn-default btn-sm btn-post-file">Upload Image
        <%= f.file_field :post_image, data: { behavior: "post-image-upload" } %>
        <%= f.hidden_field :post_image_cache %>
      </span>
    </div>
  <% end %>
</div>