<% cache ['post', post, post.user.profile] do %>

  <div class="panel panel-default post-panel" id="post_<%= post.id %>" data-behavior="commentable_<%= post.id %>">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-2">
          <%= link_to user_path(post.user) do %>
            <%= image_tag post.user.avatar.url(:base_thumb), class: 'post-avatar' %>
          <% end %>
        </div>

        <div class="col-md-8">
          <div class="post-info">
            <%= link_to user_path(post.user) do %>
              <span class="post-user-name"><%= post.user.full_name %></span>
            <% end %>
            <span class="post-company-job-title"><%= post.user.job_title %>, <%= post.user.company %></span>
            <span class="post-updated"><%= local_time_ago(post.updated_at) %></span>
          </div>
          <div class="post-body">
            <%= simple_format(find_links(h post.body)) %>
          </div>
          <div data-postlink="<%= post_path(post) %>" data-behavior="post-image">
            <% if post.post_image? %>
              <button data-toggle="modal" data-target="#post-image-modal">
                <%= image_tag post.post_image.url(:base_thumb) %>
              </button>
            <% end %>
          </div>
        </div>

        <div class="col-md-2 dropdown-column">
     
          <li class="dropdown hidden" data-postauthorid ="<%= post.user_id%>" data-behavior="edit-post-dropdown-button">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <%= link_to "Edit Post", edit_post_path(post), remote: true, type: "button", 'data-toggle' => "modal", 'data-target' => "#update-post-modal", data: { posteditlink: edit_post_path(post), behavior: "open-edit-post-modal" } %>
              </li>   
              <li>
                <a href="#" data-toggle="modal" role="button" data-target="#delete-post-modal" data-behavior="open-delete-post-modal" data-postdeletelink="<%= post_path(post) %>">Delete Post</a>
              </li>
            </ul>
          </li>
            
        </div>
      </div>

    </div>

<% end %>

    <div class="panel-body post-panel-body">
      <div class = "row comment-form-row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-12">
                <%= render partial: 'comments/form', locals: { commentable: post } %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% if post.comments.size > 3 %>
        <div class="row open-all-comments-row" data-behavior="open-all-comments-row">
          <div class="col-md-12">
            <div class="col-md-12">
              <a class="open-all-comments" data-commentableid="<%= post.id %>" data-behavior="open-all-comments">Show all</a>
            </div>
          </div>
        </div>
      <% end %>
      <div class = "row">
        <div class="col-md-12" data-behavior="comment-insert-<%= post.id%>">

          <%= cache ['comments-index-post', post.comments.ordered.map(&:id), post.comments.ordered_with_profile.map(&:updated_at).max, post.comments.ordered_with_profile.map{ |comment| comment.user_profile.updated_at }.max] do %>

            <%= render partial: 'comments/comment', collection: post.comments.ordered_with_profile, as: :comment %>

          <% end %>
          
        </div>
      </div>
    </div>
  </div>      


