<% cache ['post', post, post.user.profile] do %>

  <div class="panel panel-default post-panel" id="post_<%= post.id %>">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-2">
          <%= link_to user_path(post.user) do %>
            <%= image_tag post.user.avatar.url(:base_thumb), class: 'post-avatar' %>
          <% end %>
        </div>

        <div class="col-md-8">
          <div class="post-info">
            <%= link_to user_path(post.user) do %>
              <span class="post-user-name"><%= post.user.full_name %></span>
            <% end %>
            <span class="post-updated"><%= local_time_ago(post.updated_at) %></span>
          </div>
          <div class="post-body">
            <%= simple_format(find_links(h post.body)) %>
          </div>
          <div class="post-image" data-postlink="<%= post_path(post) %>">
            <% if post.post_image? %>
              <button data-toggle="modal" data-target="#post-image-modal">
                <%= image_tag post.post_image.url(:base_thumb) %>
              </button>
            <% end %>
          </div>
        </div>

        <div class="col-md-2" style="text-align:right;">
          <% if policy(post).edit? && policy(post).delete? %>
           
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-angle-down"></i>
              </a>
              <ul class = "dropdown-menu dropdown-menu-right">
                <li>
                  <%= link_to "Edit Post", edit_post_path(post), remote: true, type: "button", 'data-toggle' => "modal", 'data-target' => "#update-post-modal", 'data-posteditlink' => "#{edit_post_path(post)}", class: 'open-edit-post-modal' %>
                </li>   
                <li>
                  <a href="#" data-toggle="modal" role="button" data-target="#delete-post-modal" class="open-delete-post-modal" data-postdeletelink="<%=post_path(post) %>">Delete Post</a>
                </li>
              </ul>
            </li>
            
          <% end %>
        </div>
      </div>

    </div>
    <div class="panel-body" style="padding-top:0px;background:#f9f9f9;">
      <div class = "row comment-top-row" style="padding-bottom:10px;">
        <div class="col-md-12 post-comment-form">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-12">
                <%= render partial: 'posts/post_comments/post_comment_form', locals: { post: post } %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% if post.post_comments.size > 3 %>
        <div class="row open-all-post-comments-row" style="padding-bottom:10px;c">
          <div class="col-md-12">
            <div class="col-md-12">
              <a class="open-all-post-comments" data-pid="<%= post.id %>">Show all</a>
            </div>
          </div>
        </div>
      <% end %>
      <div class = "row">
        <div class="col-md-12 post-comment-insert-<%= post.id%>">
          <%= render partial: 'posts/post_comments/post_comment', collection: post.post_comments.ordered.includes(:user, :user_profile), as: :post_comment, locals: {post: post} %>
        </div>
      </div>
    </div>
  </div>      

<% end %>
