<% cache ['notifications-index-single', notification, notification.sender.profile] do %>

  <% if notification.checked? %>
    <div class="notification-line notification-line-checked" data-nid="notification.id">
  <% else %>
    <div class ="notification-line notification-line-unchecked" data-nid="notification.id">
  <% end %>
    <%= link_to checking_decreasing_user_notifications_path(current_user, notification: notification) do %>
      <%= image_tag notification.sender.avatar.url(:small_thumb), class: 'notification-index-avatar' %>
      <span>
        <div class="subject">
          <%= notification.sender.full_name %> ha <%= notification.action %> on a <%= human_model_name(notification.notifiable_type) %> you are following.
        </div>
        <div class="time">
          <% if notification.created_at.today? %>      
              Sent at <%= local_time(notification.created_at, "%H:%M %p") %>
          <% else %>
              Sent at <%= local_time(notification.created_at, "%d %b %H:%M %p") %>
          <% end %>
        </div>
      </span>
    <% end %>
  </div>
  
<% end %>