<div class="post-comment" id="postcomment-<%= post_comment.id %>">
  <div class="row post-comment-box">
    <div class="col-md-10">
      <div class="col-md-2">
        <%= image_tag post_comment.user.avatar.url(:base_thumb), class: 'post-comment-avatar' %>
      </div>
      <div class="cold-md-10">
        <div class="post-comment-info">
          <span class="post-comment-fullname"><%= post_comment.user.full_name %></span>
          <span class="post-comment-updated"><%= local_time_ago(post_comment.updated_at) %></span>
        </div>
        <div class="post-comment-body">
          <% if policy(post_comment).edit? && policy(post_comment).delete? %>
            <%= best_in_place post_comment, :body, :as => :input, url: post_post_comment_path(post_comment.post, post_comment), activator: "#activate-comment-edit-#{post_comment.id}" %>
            <span class="post-comment-editing-deleting">
              <span class="post-comment-edit-fa">
                <i class="fa fa-pencil" id="activate-comment-edit-<%=post_comment.id %>"></i>
              </span>
              <span class="post-comment-delete-fa">
                <%= link_to post_post_comment_path(post_comment.post, post_comment), remote: true , type: "button" do %>
                  <i class="fa fa-trash" data-toggle="modal" data-target="#deletepostcomment_<%= post_comment.id %>"></i>
                <% end %>
              </span>
            </span>
          <% else %>
            <%= find_links(post_comment.body) %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>

<% if policy(post_comment).delete? %>

  <%= form_for([post_comment.post, post_comment], method: :delete, remote: true) do |f| %>
    <div class="modal fade" id="deletepostcomment_<%= post_comment.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="text-align:left">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Delete Comment</h4>
          </div>
          <div class="modal-body">
            <h4>Are you sure?</h4>
            <p> </p>  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="deletepostcommentclose">Close</button>
              <%= f.submit "Delete Comment", class: 'btn btn-danger' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

<% end %>