<%= form_for @product, html: { multipart: true } do |f| %>
  <div class="well product-well">

    <div class= "row">
      <div class="col-md-12">
        <%= render 'layouts/error_messages', object: f.object %>
      </div>
    </div>

    <div class = "row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.text_field :name, placeholder: "product name", class: "form-control" %>
          <div class="explanation name-explanation">Choose a name for your product e.g. UberX, Dropbox for Business</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.text_field :website, placeholder: "product site", class: "form-control" %>
          <div class="explanation website-explanation">URL to the page with more info about this product</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.file_field :product_image %>
          <%= f.hidden_field :product_image_cache %>
          <div class="explanation image-explanation">Choose a product image</div>
        </div>
      </div>
      <div class="col-md-8">
        <%= image_tag(@product.product_image_url(:base_thumb), class: "old-product-image") if @product.product_image? %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.collection_select :industry_ids, Industry.all.order(name: :asc), :id, :name, {}, { multiple: true, class: "form-control" } %>
          <div class="explanation industry-explanation">Choose one or more industries</div>
        </div>
      </div>
    </div>
    <div class = "row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.text_area :oneliner, placeholder: "oneliner", class: "form-control", data: { behavior: "oneliner-text-area"} %>
          <span class="explanation oneliner-explanation">140-character-long brief description of the product (tweetable)</span><span class="explanation oneliner-description-counter" data-behavior="oneliner-counter"></span>
        </div>
      </div>
    </div>
  </div>

  <h4 class="description-label">Description
  </h4>
  <div class="well product-well">    
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.text_area :description, placeholder: "description",rows: "4", class: "form-control", data: { behavior: "description-text-area" } %>
          <span class="explanation description-explanation">Up to  500-character-long description of the product (e.g. for email intros)</span><span class="explanation oneliner-description-counter" data-behavior="description-counter"></span>
        </div>
      </div>
    </div>
  </div>

  <h4 class="customer-label" style="display:inline-block;">Customers </h4> <p style="display:inline;"> ( If you don't have any add some target customers. )</p>
  <div class="well product-well customer-well">
    <div class="row">
      <div class="col-md-12 customer-fields">
        <%= f.fields_for :product_customers do |product_customer| %>
          <%= render 'product_customer_fields', f: product_customer %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <div class="explanation customer-explanation">Who is using your product? <strong>What</strong> is your unique selling point to this customer?</div>
      <div class="adding-extra"><%= link_to_add_association 'Add new customer', f, :product_customers %></div>
    </div>
  </div>

  <h4 class="lead-label">Target Customers</h4>
  <div class="well product-well lead-well">
    <div class="row">
      <div class="col-md-12 lead-fields">
        <%= f.fields_for :product_leads do |product_lead| %>
          <%= render 'product_lead_fields', f: product_lead %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <div class="explanation lead-explanation">Who do you think could use your product? <strong>Why</strong> would they care about it? <strong>How</strong> would they use it?</div>
      <div class="adding-extra"><%= link_to_add_association 'Add new target customer', f, :product_leads %></div>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.button "Save Product", class: "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."} %>
  <% end %>