<div id = "sidebar-product">
  <div class="list-name">
    <%= link_to products_path do %>
      <h4><i class="fa fa-cubes"></i><span class="space">Products</span></h4>
    <% end %>
  </div>
  <div class = "list-elements">
    <ol>
      <% cache ['sidebar-products-index', @products_sidebar.map(&:id), @products_sidebar.map(&:updated_at).max] do %>

        <% @products_sidebar.each do |product| %>

          <% cache ['sidebar-products-single', product] do %>

            <%= link_to product do %>
              <div class="hover">
                <li>
                  <%= image_tag(product.product_image.url(:small_thumb), class: "product-sidebar-image") %>
                  <span class="element-name">
                    <%= truncate(product.name, length: 23) %>
                  </span>
                  <span class="second-element-name">
                    <%= truncate(product.oneliner, length:23) %>
                  </span>
                </li>
              </div>
            <% end %>

          <% end %>

        <% end %> 

      <% end %>
    </ol>
  </div>
</div>