<% cache ['products-index-single', product] do %>
  <tr class = "product-index-row">
    <td class="col-md-2 image-col">
      <%= link_to product_path(product) do %>
        <%= image_tag product.product_image.url(:large_thumb), class: "product-index-image" %>
      <% end %>
    </td>
    <td class="col-md-10 description-col">
      <%= link_to product_path(product) do %>
        <div class="name"><%= product.name %></div>
        <div class="oneliner"><%= product.oneliner %></div>
        <div class="updated">Posted: <%= local_relative_time(product.created_at, type: 'time-or-date') %></div>
      <% end %>
    </td>
  </tr>
<% end %>

