<div id = "sidebar-product">
  <div class="list-name">
    <%= link_to products_path do %>
      <h4><i class="fa fa-cubes" style="padding-right:7px;"></i>Latest products</h4>
    <% end %>
  </div>
  <div class = "list-elements">
    <ol>
      <% cache ['sidebar-products-index', @products_sidebar.first] do %>
        <% @products_sidebar.each do |product| %>
          <% cache ['sidebar-products-single', product] do %>
            <%= link_to product do %>
              <div class="hover">
                <li>
                  <span class="product-sidebar-picture">
                    <%= image_tag(product.product_image_url(:small_thumb), style:"height:40px;width:40px;border-radius:50%;margin-bottom: 10px;") %>
                  </span>
                  <span class="element-name">
                    <%= truncate(product.name, length: 25) %>
                  </span>
                  <span class="second-element-name">
                    <%= truncate(product.oneliner, length:25) %>
                  </span>
                </li>
              </div>
            <% end %>
          <% end %>
        <% end %> 
      <% end %>
    </ol>
  </div>
</div>