<div class = "container-fluid product-new-edit-container">
  <div class= "col-md-10 col-md-offset-1">
    <h3>EDIT PRODUCT</h3>
    <div class="product-form">
      <%= render "form" %>
        <button type="button" class="btn btn-danger product-delete-button" data-toggle="modal" data-target="#deleteproduct_<%= @product.id %>">Delete Product</button>
        </div> <!--THIS DIV COMES FROM FORM -->
    </div>
  </div>
</div>

<%= form_for(@product, method: :delete) do |f| %>
  <div class="modal fade" id="deleteproduct_<%= @product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="text-align:left">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Delete Product</h4>
        </div>
        <div class="modal-body">
          <h4>Are you sure?</h4>
          <p> </p>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="deleteproductclose">Close</button>
            <%= f.submit "Delete Product", class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  </div>
<% end %>