<% provide(:title, 'Products') %>
<div class="container-fluid product-container">
  <% unless has_profile? %>
    <div class="row">
      <div class="well onboard-well">
        <h4>HEY THERE! You can start with discovering the posts, products as well as users and in the meantime you can create your profile:</h4>   <%= link_to "CREATE PROFILE", new_user_profile_path(current_user), class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
  <div class="row title-row">
    <div class="col-md-4 col-md-offset-4">
      <div class="product-desc" style="text-align:center">
        <h2>PRODUCTS</h2>
      </div>
    </div>
    <div class="col-md-1">
      <%= link_to new_product_path do %>
        <div style="text-align:right;vertical-align:middle;margin-top:4px;">
          <i class="fa fa-plus fa-2x" data-toggle="tooltip", data-placement="bottom", data-delay= '{"show":"250"}', title="New product"></i>
        </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <div class = "product-search" style="text-align:right">
        <%= search_form_for @q_products, html: { class: "form-inline"} do |f| %>
          <% f.search_field :name_cont, placeholder: "Search product..", class: 'form-control' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <table class="table">
      <tbody class="product-profile-index new-product-insert">
        <%= render @products %>
      </tbody>
    </table>
  </div>
  <div id="infinite-product-scrolling">
    <%= will_paginate @products, param_name: 'products' %>
  </div>
  <div class="no-more">
    <p>No more products.</p>
  </div>
</div>