<% provide(:title, @product.name) %>
<div class= "container-fluid product-container">
    <div class="product-show-container" data-behavior="commentable_<%= @product.id %>">

      <% @product.group_invitations.pending_user(current_user).each do |group_invitation| %>

        <div class="well product-well" id="product-invitation-well">
          <div class="row pending-product-invitation-row">
            <div class="col-md-12">
              <h4>You have a pending invitation to join this product as a member</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="text-align:center;">
              <%= link_to "Accept Invitation", accept_group_invitation_path(group_invitation), method: :patch, class: "btn btn-primary", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Accepting..."} %>
              <%= link_to "Decline Invitation", group_invitation_path(group_invitation), method: :delete, class: "btn btn-danger delete-invitation-button", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Deleting..."} %>
            </div>
          </div>
        </div>

      <% end %>

      <% cache [@product, @product.owner.profile] do %>

        <div class="row product-show-name">
          <div class="col-md-6">
            <%= image_tag @product.product_image_url(:base_thumb) %>
            <h3><%= @product.name %></h3>
          </div>
          <div class="col-md-6" style="text-align:right">
            <span class="hidden" data-behavior="edit-delete-product-buttons" data-product-owner-id= "<%=@product.owner.id %>">
              <%= link_to "Edit Product", edit_product_path(@product), class: "btn btn-primary" %>
              <%= link_to "Manage Access", product_product_owner_panels_path(@product), class: "btn btn-primary" %>
            </span>
          </div>
        </div>
        <div class="well product-well">
          <div class = "row">
            <div class="col-md-4 website-column">
              <div class="product-list">
                <div class="list-name">Website:</div>
                <div class="description"><%= link_to @product.website, target: "_blank" do %>
                   <%= @product.website %>
                <% end %></div>
              </div>
            </div>
            <div class="col-md-8 vertical-column">
              <div class="product-list">
                <div class="list-name">Verticals:</div>
                <div class="description"><%= @product.industries_all %></div>
              </div>
            </div>
          </div>

          <div class = "row">
            <div class="col-md-4 posted-by-column">
              <div class="product-list">
                <div class="list-name">Posted_by:</div>
                <div class="description"><%= link_to user_path(@product.owner) do %>
                  <%= @product.owner.full_name %>
                <% end %> </div>
              </div>
            </div>
            <div class="col-md-8 oneliner-column">
              <div class="product-list">
                <div id="oneliner">
                  <div class="list-name">Oneliner:</div>
                  <div class="description"><%= @product.oneliner %></div>
                </div>
              </div>
            </div>
          </div>
          <div class = "row">
            <div class="col-md-12 description-column">
              <div class = "product-list">
                  <div class = "list-name">Description:</div>
                  <div class = "description"><%= @product.description %></div>
              </div>
            </div>
          </div>
        </div>

        <% if @product.product_customers.any? %>
          <h4>Customers</h4>
          <div class="well product-well">
            <div class="row">
              <div class="col-md-12">
                <div class="product-list">
                  <% @product.product_customers.each do |product_customer| %>
                    <div class="row product-customer-row">
                      <%= link_to product_product_customer_path(@product, product_customer) do %>
                        <div class="col-md-12">
                          <div class="product-customer-customer">
                            <%= product_customer.customer %>
                            <% if product_customer.users.any? %>
                              <span class="product-customer-verification">Verified</span>
                            <% end %> 
                          </div>
                          <div class="product-customer-usage">
                            <%= product_customer.usage %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <% if @product.product_leads.any? %>
          <h4>Potential Leads</h4>
          <div class="well product-well">
            <div class="row">
              <div class="col-md-12">
                <div class="product-list">
                  <% @product.product_leads.each do |product_lead| %>
                    <div class="row product-customer-row">
                      <%= link_to product_product_lead_path(@product, product_lead) do %>
                        <div class="col-md-12">
                          <div class="product-lead-lead">
                            <%= product_lead.lead %>
                          </div>
                          <div class="product-lead-pitch">
                            <%= product_lead.pitch %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      <% end %>

      <h4>Creators</h4>
      <div class="well product-well">
        <div class="row">
          <div class="col-md-12">
            <div class="product-list">
              <ul>

                <% @users.each_slice(2) do |user_row| %>
                  <div class="row product-user-row">
                    <% user_row.each do |user| %>
                      <%= link_to user_profile_path(user) do %>
                        <div class="col-md-6">
                          <%= image_tag user.avatar.url(:small_thumb), class: "product-user-avatar" %>
                          <%= user.full_name %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
                
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default" id="comment-panel">
        <div class="panel-heading">
          <div class = "row comment-form-row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-12">

                    <%= render partial: 'comments/form', locals: { commentable: @product } %>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <% if @comments.size > 3 %>
            <div class="row open-all-comments-row" data-behavior="open-all-comments-row">
              <div class="col-md-12">
                <div class="col-md-12">
                  <a class="open-all-comments" data-commentableid="<%= @product.id %>" data-behavior="open-all-comments">Show all</a>
                </div>
              </div>
            </div>
          <% end %>

        </div>
        <div class="panel-body">
          <div class = "row">
            <div class="col-md-12" data-behavior="comment-insert-<%= @product.id%>">
              <% cache ['comments-index-product', @comments.map(&:id), @comments.map(&:updated_at).max, @comments.map{ |comment| comment.user.profile.updated_at }.max] do %>

                <%= render @comments %>

              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div> 
</div>

