<div class="row review-user-row" id="review_<%= review.id %>">
  <div class="col-md-1">
    <%= link_to user_path(review.user) do %>
      <%= image_tag review.user.avatar.url(:small_thumb), class: "product-user-avatar" %>
    <% end %>
  </div>
  <div class="col-md-10">
    <div class="review-info">
      <%= link_to user_path(review.user) do %>
        <span class="review-fullname">
          <%= review.user.full_name %>
        </span>
      <% end %>
      <span class="review-job-title">
        <%= review.user.job_title %>
      </span>
      <span class="review-updated">
        <%= local_time_ago(review.updated_at) %>
      </span>
      <div class="review-body">
        "<%= review.body %>"
      </div>
    </div>
  </div>
  <div class="col-md-1 review-edit-delete-panel">
    <span class="review-editing hidden" data-behavior="review-editing" data-reviewauthorid="<%= review.user_id %>">
      <a href="#" data-toggle="modal" role="button" data-target="#update-review-modal" data-behavior="open-update-review-modal" data-revieweditlink="<%= edit_review_path(review) %>">
        <i class="fa fa-pencil"></i>
      </a>
    </span>
    <span class="review-deleting hidden" data-behavior="review-deleting" data-productcustomerownerid="<%= product_customer.owner.id %>">
      <a href="#" data-toggle="modal" role="button" data-target="#delete-review-modal" data-behavior="open-delete-review-modal" data-reviewdeletelink="<%= review_path(review) %>">
        <i class="fa fa-trash"></i>
      </a>
    </span>
  </div>
</div>