<% provide(:title, @product.name + " referencers") %>

<div class= "container-fluid product-container">
  <div class="product-show-container">

    <% if @group_invitations.any? %>

      <h3>Product Referencer Invitations</h3>
      <div class="panel panel-default">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="col-md-3">Email</th>
              <th class="col-md-3">Name</th>
              <th class="col-md-3">Status</th>
              <th class="col-md-3">Delete</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "group_invitations/group_invitation", collection: @group_invitations, as: :group_invitation %>
          </tbody>
        </table>
      </div>

    <% end %>

    <h3>Invite a New Referencer</h3>
    <p>Product referencers (customers, that you added to product) can verify they are using your product and 
      can write reviews on the product customer page.</p>

    <% if @product.product_customers.any? %>

      <%= form_for([@product_customers.first, GroupInvitation.new]) do |f| %>
        <div class= "row">
          <div class="col-md-12">
            <%= render 'layouts/error_messages', object: f.object %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= f.email_field :email, class: 'form-control', placeholder: "Type an email address..." %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.collection_select :group_invitable_id, @product_customers, :id, :customer, {}, { class: 'form-control', id: "product-customer-collection-select" } %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.button "Invite Referencer", class: "btn btn-primary btn-block", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Sending Invitation..." } %>
            </div>
          </div>
        </div>
      <% end %>

    <% else %>

      <p><strong>Once you have added customers you will be able to send invitations.</strong></p>

    <% end %>

    <%= link_to "Skip and go to product page", product_path(@product) %>

  </div>
</div>