<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("firstlogosmall.png", size: "40x40"), root_path, class: "navbar-brand", style: "margin-left:0px;padding-top:9px;padding-bottom:9px" %>
      <%= link_to "faskyn", root_path, class: "navbar-brand", style: "padding-left:7px" %>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right" style="margin-right:20px">

      <% if user_signed_in? %>
        <% if has_profile? %>
          <li><p class="navbar-btn"><%= link_to "New Task", new_user_task_path(current_user), class: "btn btn-primary", style: "margin-right:10px;" %></p></li>
        <% else %>
          <li><p class="navbar-btn"><%= link_to "Create Profile", new_user_profile_path(current_user), class: "btn btn-primary" %></p></li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
          <ul class = "dropdown-menu">
            <li><%= link_to "Account", edit_user_registration_path %></li>
            <%if has_profile? %>
              <li><%= link_to "Profile", edit_user_profile_path(current_user) %></li>
            <% end %>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>    
      <% else %>
        <li><%= link_to "Log in", new_user_session_path %></li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>



