<br />
<div class="user-profile-show-sidebar">
  <%= link_to user_profile_path(@user) do %>
    <%= image_tag @user.profile.avatar.url(:base_thumb), class: 'avatar', alt: "#{@user.profile.first_name}'s_avatar", title: "#{@user.profile.first_name}'s avatar" %>
  <div class="user-fullname">
    <%= @user.profile.first_name.upcase %> <%= @user.profile.last_name.upcase %>
  </div>
  <span class="company">
    <div><%= @user.profile.company %></div>
    <div><%= @user.profile.job_title %></div>
  </span>
  <% end %>
</div>
<div>
<%if @conversation%>
  <%= render 'conversations/show' %>
<% end %>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />