<div id= "sidebar-wrapper">
  <br />
  <%= render 'users/current_user' %>
  <br />
  <br/>
  <br/>
  <div class="invite">  
    <%= simple_form_for(User.new, url: user_invitation_path, html: { class: 'form-inline' }) do |f| %>
      <%= f.input :email, placeholder: 'Invite via email', label: false %>
      <%= f.button :submit, 'Invite User', class: 'btn btn-warning btn-xs' %>
    <% end %>
  </div>
  <br />
  <%= render 'users/user_search' %>
</div>
