<div id= "sidebar">
  <br />
  <br />
  <br />
  <br />
  <%if has_profile? %>
  <%= current_user.profile.first_name %> <%= current_user.profile.last_name %>
  <br />
  <%= current_user.profile.company %>
  <% end %>
  <br />
  <br />
  <%= link_to "Show user", user_path(current_user) %>
  <br />
  <%= link_to "Index user", users_path %>
  <br />
  <%= link_to "Edit user", edit_user_profile_path(current_user) %>
  <br />
  <%= link_to "New Task", new_user_task_path(current_user) %>
  <br />
  <%= link_to "Index tasks", user_tasks_path(current_user) %>
  <br />
  <%= link_to "Incoming tasks", incoming_tasks_user_tasks_path(current_user) %>
  <br />
  <%= link_to "Outgoing tasks", outgoing_tasks_user_tasks_path(current_user) %>
  <br />
  <%= link_to "Completed tasks", completed_tasks_user_tasks_path(current_user) %>
</div>
