<!DOCTYPE html>
<html>
<head>

  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- script tag for real-time notification -->
  <script src="//js.pusher.com/3.0/pusher.min.js"></script>
  <% if user_signed_in? %>
    <script type="text/javascript" charset="utf-8">
      $(function() {
        var pusher = new Pusher('<%= Pusher.key %>'); //Pusher.key
        var other_notification_channel = pusher.subscribe('private-'+'<%= current_user.id %>');
        var chat_notification_channel = pusher.subscribe('private-'+'<%= current_user.id %>');

        // Some useful debug msgs
        pusher.connection.bind('connecting', function() {
          $('div#status').text('Connecting to Pusher...');
        });
        pusher.connection.bind('connected', function() {
          $('div#status').text('Connected to Pusher!');
        });
        pusher.connection.bind('failed', function() {
          $('div#status').text('Connection to Pusher failed :(');
        });
        chat_notification_channel.bind('subscription_error', function(status) {
          $('div#status').text('Pusher subscription_error');
        });
        other_notification_channel.bind('subscription_error', function(status) {
          $('div#status').text('Pusher subscription_error');
        });

        //separated real-time notification for chat and the rest of the notificaitons
        other_notification_channel.bind('new_other_notification', function(data) {
          msg = data.number;
          dom_other_notify(msg);
        });

        chat_notification_channel.bind('new_chat_notification', function(data) {
          msg = data.number;
          dom_chat_notify(msg);
        })

        function dom_other_notify(msg) {
          
          //first message div should be fading in, rest should be just updated by number
          $('#other-notifications').text(msg); //will be a string
          if (msg == 1) {
            $('#other-notifications').fadeIn();
          };
          if (msg == 0) {
            $('#other-notifications').hide();
          }
        }

        function dom_chat_notify(msg) {
          
          //first message div should be fading in, rest should be just updated by number
          $('#chat-notifications').text(msg); //will be a string
          if (msg == 1) {
            $('#chat-notifications').fadeIn();
          };
          if (msg == 0) {
            $('#chat-notifications').hide();
          }
        }
      });
    </script>
  <% end %>
  <!-- end of script for pusher -->
</head>
<!-- <body class="fixedheight <%= controller.controller_name %>"> -->
<body class="fixedheight <%= controller.controller_name %>">
  <%= render 'layouts/header' %>
  <% if user_signed_in? %>
    <div id="wrapper">
      <%= render 'layouts/sidebar' %>
      <%= render 'layouts/main' %>
    </div>
  <% else %>
    <%= yield %>
  <% end %>

</body>
</html>
