<!DOCTYPE html>
<html>
<head>

  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="fixedheight <%= controller.controller_name %>">
  <%= render 'layouts/header' %>
  <% if user_signed_in? %>
    <div id="wrapper">
      <%= render 'layouts/sidebar' %>
      <%= render 'layouts/main' %>
    </div>
  <% else %>
    <%= yield %>
  <% end %>

</body>
</html>
