<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

  <%= render 'layouts/header' %>

  <% if user_signed_in? %>
    <%= render 'layouts/sidebar' %>
    <%= render 'layouts/main' %>
  <% else %>
    <%= yield %>
  <% end %>

</body>
</html>
