<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta name="google-site-verification" content="TZLsd4Rgf8Ze7yBr8z9chL6P2WyiBWF1b3f0uoukpmw"/>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>
  <%= yield %>

</body>
</html>
